.selected {
	background-color: #F2FAFE !important;
}

.mouseover {
	background-color: #F1F3F4 !important;
}

.btnDiv {
	float: left;
	padding: 3px;
}


.searchbos {
	background: #f5f5f5;
	border: 1px solid #ddd;
	border-top: 1px solid #0A8FFF;
	padding: 10px;
	display: inline-block;
	width: 100%;
}

.ibox {
	clear: both;
	margin-bottom: 20px;
	margin-top: 0;
	padding: 0;
}

.btn-default {
	color: inherit;
	background: white;
	border: 1px solid #e7eaec;
	border-color: #d0d0d0;
}

.btnm {
	display: inline-block;
	min-width: 120px;
	height: 40px;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	margin-right: 2px;
}

.input-groups {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-groups-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.myBtn {
	padding: 5px 7px;
}

.btn-default:hover {
	background-image: none;
    background-color: #eee;
}

.col-lg-2 {
	float: left;
	max-width: 20%;
	height: 70px;
}

p {
    margin: 10px 0 10px;
}

.col-lg-12 {
	float: left;
}

.col-lg-2 > label {
	margin-top: 7px;
    margin-bottom: 2px;
}

.btn-outline-info-add {
	background-image: none;
    border-color: blue;
    color: blue;
    background: white;
}

.btn-outline-info-nomal {
	background-image: none;
    border-color: black;
    color: black;
    background: white;
}

.btn-outline-info-add:hover {
    color: white;
    background: blue;
}

.btn-outline-info-nomal:hover {
    color: white;
    background: black;
}

.btn-outline-info-del {
	background-image: none;
    border-color: red;
    color: red;
    background: white;
}

.btn-outline-info-del:hover {
    color: white;
    background: red;
}

.select, select.form-control {
    border: 1px solid #cccccc;
    padding: 0 30px 0 10px;
    font-size: 14px;
    background-size: 28px auto;
    letter-spacing: -0.8px;
}

.modal {
    position: fixed;
    width: 100%;
    /* left: 50%; */
    /* margin-left: -12%; */ /* half of width */
    /* height: 100%; */
    /* top: 20%; */
    margin-top: -150px; /* half of height */
    /* overflow: auto; */
}

.modal-lg {
	top: 18.5%;
	width: 480px;
}

.modal-sm {
	max-width:350px;
	top: 40%;
}

.modal-ll {
	top: 25%;
	width: 1000px;
	max-width: 1500px;
}

.btn-outline-info-add{
	margin: 1px;
}

.border1 {
	background-color:white; 
	border: solid 0.5px #E3E3E3;
}

.labelFontSize {
	font-size: 12px;
	font-weight: bold;
}

.modelHead {
	height:40px; 
	background-color:#EEEEEE; 
	display:flex; 
	align-items:center;
}

.modelHeadFont {
	margin: 10px;
    font-weight: bold;
}

.trHight60 {
	height: 60px;
}

.colorRed {
	color: red;
}

.backColorWhite {
	background-color: white !important;
}

.displayNone{
	display: none;
}

.pading5Width450{
	padding: 5px;
	/* float: left; */
	width: 450px;
}

.pading5 {
	padding: 5px;
}

.modal-backdrop {
	z-index: 16;
}

#modal {
	z-index:100;
}

.pcoded-navbar {
	z-index: 0 !important;
}

.swal2-styled.swal2-confirm{
	width: 85px;
}

.swal2-styled.swal2-cancel{
	width: 85px;
}

.floatLeft{
	float: left;
}

.modal-ll-control {
	background: floralwhite;
    width: 1017px;
    height: 768px;
    float: left;
    border-left: solid 0.1px gray;
}

.marginTop100 {
	margin-top : 100px;
}

.tui-contextmenu ul{
	width : 108px;
}

.kakao {
	background: yellow;
	border-color: yellow;
	color: black;
}

.kakao:hover {
	background: lightgoldenrodyellow;
	border-color: lightgoldenrodyellow;
	color: black;
}

.marginTop50 {
	margin-top: 50px;
}
.naver {
	backGround: forestgreen;
	border-color: forestgreen;
}

.naver:hover {
	backGround: darkseagreen;
 	border-color: darkseagreen;
}

.google {
	backGround: #F0EBF0;
	border-color: #F0EBF0;
	color: black;
}

.google:hover {
	backGround: #4285F4;
 	border-color: #4285F4;
}

.bottomLine {
	border-bottom: solid 1px gray;
}

.alignCenter {
	text-align: center;	
}


.chargeList ul li {
	display: inline-block;
    margin: 0 9px;
    height: 225px;
}

.chargeList ul li .radio label {
	width: 180px;
    height: 165px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    padding: 24px 10px;
    text-align: center;
}

.radio input[type=radio] + label{
	display: inline-block;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
    cursor: pointer;
}

.chargeList ul li .radio input[type=radio]:checked + label{
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    border: 1px solid #1c53e8;
}

.chargeList ul li .radio input[type=radio] + label:after{
	top: 205px;
    left: 50%;
    margin-left: -6px;
}

.chargeList ul li .radio label .count{
	display: block;
    color: #0099ff;
    font-size: 20px;
    line-height: 1;
}

.chargeList ul {
	 margin: 0 -9px;
}

.chargeList ul li .radio {
	position: relative;
}

.radio {
	display: inline-block;
    vertical-align: middle;
}

.radio input[type=radio] {
	display: none;
}

.radio input[type=radio] + label:before {
	    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #1c53e8;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chargeList ul li .radio input[type=radio] + label:before {
	top: 195px;
    left: 50%;
    margin-left: -10px;
}

.radio input[type=radio]:checked + label:after {
	content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    background: #1c53e8;
    border-radius: 50%;
}

.chargeList ul li .radio label .price strong {
	font-weight: 900;
    font-size: 25px;
    line-height: 1;
}

.chargeList ul li .radio label .count span {
	font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

.paymentBtn {
	width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
}

#gbox_list {
	z-index : 0;
}

.viewForm {
	font-size: 12px !important;
	padding: 0.4rem 0.75rem !important;
	height: 30px !important; 
}

.leftDiv {
	float: left;
    width: 488px;
    border-right: solid 1px;
}

.rightDiv {
	float: left;
    margin-left: 30px;
}


