<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="checkList">
	<resultMap type="com.secuve.agentInfo.vo.CheckList" id="checkList"></resultMap>
	
	<select id="getCheckList" resultMap="checkList" parameterType="string">
		SELECT DISTINCT checkListKeyNum, checkListCustomer, checkListTitle, checkListDate
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT DISTINCT checkListKeyNum, checkListCustomer, checkListTitle, checkListDate
				FROM checkList
					<include refid="sqlCheckList" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getCheckListCount" resultType="_int">
		SELECT COUNT(DISTINCT checkListKeyNum) FROM checkList
			<include refid="sqlCheckList" />
	</select>
	
	<select id="getCheckListKeyNum" resultType="_int">
		SELECT MAX(checkListKeyNum) FROM checkList;
	</select>
	
	<insert id="insertCheckList">
		INSERT INTO checkList(checkListKeyNum,checkListCustomer,checkListTitle,checkListDate,checkListSettingSubCategoryKeyNum,checkListSubCategoryState,checkListSubCategoryFailReason,checkListRegistrant,checkListRegistrationDate)
		VALUES(#{checkListKeyNum},#{checkListCustomer},#{checkListTitle},#{checkListDate},#{checkListSettingSubCategoryKeyNum},#{checkListSubCategoryState},#{checkListSubCategoryFailReason},#{checkListRegistrant},#{checkListRegistrationDate});
	</insert>
	
	<select id="getCheckListOneTitle" resultMap="checkList" parameterType="_int">
		SELECT DISTINCT checkListKeyNum, checkListCustomer, checkListTitle, checkListDate 
		FROM checkList 
		WHERE checkListKeyNum = #{checkListKeyNum};
	</select>
	
	<select id="getCheckListOne" resultMap="checkList" parameterType="_int">
		SELECT * FROM checkList WHERE checkListKeyNum = #{checkListKeyNum};
	</select>
	
	<delete id="delCheckList" parameterType="_int">
		DELETE FROM checkList WHERE checkListKeyNum = #{checkListKeyNum};
	</delete>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlCheckList">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="checkListCustomer != null and checkListCustomer != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="checkListCustomerArr" item="arr">
						OR checkListCustomer LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="checkListTitle != null and checkListTitle != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="checkListTitleArr" item="arr">
						OR checkListTitle LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="checkListDateStart != null and checkListDateStart != ''">
				AND checkListDate BETWEEN #{checkListDateStart} AND #{checkListDateEnd}
			</if>
		</trim>
	</sql>
	
</mapper>