<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="customerInfo">
	<resultMap type="com.secuve.agentInfo.vo.CustomerInfo" id="customerInfo"></resultMap>
	
	<insert id="insertCustomerInfo">
		INSERT INTO customerInfo(customerInfoKeyNum, customerName, businessName, networkClassification, customerManagerName, customerPhoneNumber, customerZipCode, customerAddress, customerFullAddress, customerDept, employeeSeName, employeeSalesName, productCheck, tosmsVer, tosrfVer, portalVer, javaVer, webServerVer, databaseVer, logServerVer, scvEaVer, scvCaVer, authPkiVer, customerInfoRegistrant, customerInfoRegistrationDate)
		VALUES(#{customerInfoKeyNum}, #{customerName}, #{businessName}, #{networkClassification}, #{customerManagerName}, #{customerPhoneNumber}, #{customerZipCode}, #{customerAddress}, #{customerFullAddress}, #{customerDept}, #{employeeSeName}, #{employeeSalesName}, #{productCheck}, #{tosmsVer}, #{tosrfVer}, #{portalVer}, #{javaVer}, #{webServerVer}, #{databaseVer}, #{logServerVer}, #{scvEaVer}, #{scvCaVer}, #{authPkiVer}, #{customerInfoRegistrant}, #{customerInfoRegistrationDate});
	</insert>
	
	<select id="getCustomerInfoList" resultMap="customerInfo" parameterType="string">
		SELECT * FROM customerInfo 
		<if test="customerName != null and customerName != ''">
			WHERE customerName = #{customerName}
		</if>
		ORDER BY 1;
	</select>
	
	<select id="getCustomerInfoOne" resultMap="customerInfo">
		SELECT * FROM customerInfo WHERE customerInfoKeyNum = #{customerInfoKeyNum};
	</select>
	
	<select id="getCustomerInfoCount" resultType="_int">
		SELECT COUNT(*) FROM customerInfo WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification};
	</select>
	
	<select id="getCustomerInfoDivision" resultType="_int">
		SELECT COUNT(*) FROM customerInfo WHERE customerInfoKeyNum = #{customerInfoKeyNum} AND customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification};
	</select>
	
	<select id="getCustomerInfoMapping" resultMap="customerInfo">
		SELECT * FROM customerInfo WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification};
	</select>
	
	<update id="updateCustomerInfo">
		UPDATE customerInfo SET customerName = #{customerName}, businessName = #{businessName}, networkClassification = #{networkClassification}, customerManagerName = #{customerManagerName}, customerPhoneNumber = #{customerPhoneNumber}, customerZipCode = #{customerZipCode}, customerAddress = #{customerAddress}, customerFullAddress = #{customerFullAddress}, customerDept = #{customerDept}, employeeSeName = #{employeeSeName}, employeeSalesName = #{employeeSalesName}, productCheck = #{productCheck}, tosmsVer = #{tosmsVer}, tosrfVer = #{tosrfVer}, portalVer = #{portalVer}, javaVer = #{javaVer}, webServerVer = #{webServerVer}, databaseVer = #{databaseVer}, logServerVer = #{logServerVer}, scvEaVer = #{scvEaVer}, scvEaVer = #{scvEaVer}, scvCaVer = #{scvCaVer}, authPkiVer = #{authPkiVer}, customerInfoModifier = #{customerInfoModifier}, customerInfoModifiedDate = #{customerInfoModifiedDate}
		WHERE customerInfoKeyNum = #{customerInfoKeyNum}
	</update>
	
	<update id="updateTOSMS">
		UPDATE customerInfo SET tosmsVer = #{packageName}
		WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification} 
	</update>
	
	<update id="updateTOSRF">
		UPDATE customerInfo SET tosrfVer = #{packageName}
		WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification} 
	</update>
	
	<update id="updatePORTAL">
		UPDATE customerInfo SET portalVer = #{packageName}
		WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification} 
	</update>
	
	<update id="updateLogServer">
		UPDATE customerInfo SET logServerVer = #{packageName}
		WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification} 
	</update>
	
	<update id="updateScvEA">
		UPDATE customerInfo SET scvEaVer = #{packageName}
		WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification} 
	</update>
	
	<update id="updateScvCA">
		UPDATE customerInfo SET scvCaVer = #{packageName}
		WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification} 
	</update>
	
	<update id="updateAuthclient">
		UPDATE customerInfo SET authPkiVer = #{packageName}
		WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification} 
	</update>
	
	<update id="updateProductCheck">
		UPDATE customerInfo SET productCheck = #{productCheck}
		WHERE customerName = #{customerName} AND businessName = #{businessName} AND networkClassification = #{networkClassification} 
	</update>
	
	<select id="getCustomerInfoKeyNum" resultType="_int">
		SELECT MAX(customerInfoKeyNum) FROM customerInfo;
	</select>
	
	<delete id="deleteCustomerInfo">
		DELETE FROM customerInfo WHERE customerInfoKeyNum = #{customerInfoKeyNum};
	</delete>
	
</mapper>