<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="customerBusinessMapping">
	<resultMap type="com.secuve.agentInfo.vo.CustomerBusinessMapping" id="customerBusinessMapping"></resultMap>
	
	<insert id="insertCustomerBusiness">
		INSERT INTO customerBusinessMapping(customerName, businessName)
		VALUES(#{customerName}, #{businessName});
	</insert>
	
	<select id="getBusinessCount" resultType="_int">
		SELECT COUNT(*) FROM customerBusinessMapping WHERE customerName = #{customerName} AND businessName = #{businessName}
	</select>
	
	<select id="getCustomerBusinessList" resultMap="customerBusinessMapping" parameterType="string">
		SELECT * FROM customerBusinessMapping 
		<if test="customerName != null and customerName != ''">
			WHERE customerName = #{customerName}
		</if>
		ORDER BY 1;
	</select>
</mapper>