<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="functionTestSetting">
	<resultMap type="com.secuve.agentInfo.vo.FunctionTestSetting" id="functionTestSetting"></resultMap>
	
	<select id="functionTestSettingForm" parameterType="string" resultMap="functionTestSetting">
		SELECT * FROM functionTestSettingForm WHERE functionTestSettingDivision = #{functionTestSettingDivision} ORDER BY functionTestSettingFormSort ASC;
	</select>
	
	<select id="functionTestForm" parameterType="string" resultMap="functionTestSetting">
		SELECT DISTINCT f.* FROM functionTestSettingForm f, functionTestSettingSubCategory s
		WHERE functionTestSettingDivision = #{functionTestSettingDivision}
		AND f.functionTestSettingFormKeyNum = s.functionTestSettingFormKeyNum
		<include refid="sqlFunctionTestSetting" />
		ORDER BY functionTestSettingFormSort ASC;
	</select>
	
	<insert id="formPlus" parameterType="functionTestSetting" useGeneratedKeys="true" keyProperty="functionTestSettingFormKeyNum">
		INSERT INTO functionTestSettingForm(functionTestSettingFormName, functionTestSettingDivision, functionTestSettingFormSort, functionTestSettingFormRegistrant, functionTestSettingFormRegistrationDate)
		VALUES('미입력', #{functionTestSettingDivision}, #{functionTestSettingFormSort}, #{functionTestSettingFormRegistrant}, #{functionTestSettingFormRegistrationDate});
	</insert>
	
	<update id="formChange">
		UPDATE functionTestSettingForm SET functionTestSettingFormName = #{functionTestSettingFormName}, functionTestSettingFormModifier = #{functionTestSettingFormModifier}, functionTestSettingFormModifiedDate = #{functionTestSettingFormModifiedDate}
		WHERE functionTestSettingFormKeyNum = #{functionTestSettingFormKeyNum};
	</update>
	
	<delete id="formMinus" parameterType="_int">
		DELETE FROM functionTestSettingForm WHERE functionTestSettingFormKeyNum = #{functionTestSettingFormKeyNum};
	</delete>
	
	<select id="functionTestSettingCategory" resultMap="functionTestSetting">
		SELECT * FROM functionTestSettingCategory ORDER BY functionTestSettingCategorySort ASC;
	</select>
	
	<select id="functionTestCategory" resultMap="functionTestSetting">
		SELECT DISTINCT c.* FROM functionTestSettingCategory c, functionTestSettingSubCategory s
		WHERE c.functionTestSettingCategoryKeyNum = s.functionTestSettingCategoryKeyNum
		<include refid="sqlFunctionTestSetting" />
		ORDER BY functionTestSettingCategorySort ASC;
	</select>
	
	<select id="functionTestSettingSubCategory" resultMap="functionTestSetting">
		SELECT * FROM functionTestSettingSubCategory ORDER BY functionTestSettingSubCategorySort ASC;
	</select>
	
	<select id="functionTestSubCategory" resultMap="functionTestSetting">
		SELECT DISTINCT * FROM functionTestSettingSubCategory
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="functionTestSettingSubCategoryTortal != null and functionTestSettingSubCategoryTortal != ''">
				AND functionTestSettingSubCategoryTortal = 'success'
			</if>
			<if test="functionTestSettingSubCategoryBasic != null and functionTestSettingSubCategoryBasic != ''">
				AND functionTestSettingSubCategoryBasic = 'success'
			</if>
			<if test="functionTestSettingSubCategoryFoundation != null and functionTestSettingSubCategoryFoundation != ''">
				AND functionTestSettingSubCategoryFoundation = 'success'
			</if>
		</trim>
		 ORDER BY functionTestSettingSubCategorySort ASC;
	</select>
	
	<insert id="categoryPlus"  parameterType="functionTestSetting" useGeneratedKeys="true" keyProperty="functionTestSettingCategoryKeyNum">
		INSERT INTO functionTestSettingCategory(functionTestSettingFormKeyNum, functionTestSettingCategorySort, functionTestSettingCategoryRegistrant, functionTestSettingCategoryRegistrationDate) 
		VALUES (#{functionTestSettingFormKeyNum}, #{functionTestSettingCategorySort}, #{functionTestSettingCategoryRegistrant}, #{functionTestSettingCategoryRegistrationDate});
	</insert>
	
	<insert id="subCategoryPlus" parameterType="functionTestSetting" useGeneratedKeys="true" keyProperty="functionTestSettingSubCategoryKeyNum">
		INSERT INTO functionTestSettingSubCategory(functionTestSettingCategoryKeyNum, functionTestSettingFormKeyNum, functionTestSettingSubCategoryTortal, functionTestSettingSubCategoryBasic, functionTestSettingSubCategoryFoundation, functionTestSettingSubCategorySort, functionTestSettingSubCategoryRegistrant, functionTestSettingSubCategoryRegistrationDate) 
		VALUES (#{functionTestSettingCategoryKeyNum}, #{functionTestSettingFormKeyNum}, 'success', 'empty', 'empty', #{functionTestSettingSubCategorySort}, #{functionTestSettingSubCategoryRegistrant}, #{functionTestSettingSubCategoryRegistrationDate});
	</insert>
	
	<delete id="formCategoryMinus" parameterType="_int">
		DELETE FROM functionTestSettingCategory WHERE functionTestSettingFormKeyNum = #{functionTestSettingFormKeyNum};
	</delete>
	
	<delete id="formSubCategoryMinus" parameterType="_int">
		DELETE FROM functionTestSettingSubCategory WHERE functionTestSettingFormKeyNum = #{functionTestSettingFormKeyNum};
	</delete>
	
	<update id="categorySave">
		UPDATE functionTestSettingCategory SET functionTestSettingCategoryName = #{functionTestSettingCategoryName}, functionTestSettingCategoryModifier = #{functionTestSettingCategoryModifier}, functionTestSettingCategoryModifiedDate = #{functionTestSettingCategoryModifiedDate}
		WHERE functionTestSettingCategoryKeyNum = #{functionTestSettingCategoryKeyNum};
	</update>
	
	<update id="subCategorySave">
		UPDATE functionTestSettingSubCategory SET functionTestSettingSubCategoryName = #{functionTestSettingSubCategoryName}, functionTestSettingSubCategoryModifier = #{functionTestSettingSubCategoryModifier}, functionTestSettingSubCategoryModifiedDate = #{functionTestSettingSubCategoryModifiedDate}
		WHERE functionTestSettingSubCategoryKeyNum = #{functionTestSettingSubCategoryKeyNum};
	</update>
	
	<delete id="categoryMinus" parameterType="_int">
		DELETE FROM functionTestSettingCategory WHERE functionTestSettingCategoryKeyNum = #{functionTestSettingCategoryKeyNum};
	</delete>
	
	<delete id="categorySubCategoryMinus" parameterType="_int">
		DELETE FROM functionTestSettingSubCategory WHERE functionTestSettingCategoryKeyNum = #{functionTestSettingCategoryKeyNum};
	</delete>
	
	<delete id="subCategoryMinus" parameterType="_int">
		DELETE FROM functionTestSettingSubCategory WHERE functionTestSettingSubCategoryKeyNum = #{functionTestSettingSubCategoryKeyNum};
	</delete>
	
	<select id="functionTestSettingDetail" parameterType="_int" resultMap="functionTestSetting">
		SELECT * FROM functionTestSettingDetail WHERE functionTestSettingSubCategoryKeyNum = #{functionTestSettingSubCategoryKeyNum};
	</select>
	
	<insert id="functionTestSettingDetailInsert">
		INSERT INTO functionTestSettingDetail(functionTestSettingFormKeyNum,functionTestSettingCategoryKeyNum,functionTestSettingSubCategoryKeyNum,functionTestSettingDetailMethod,functionTestSettingDetailRegistrant,functionTestSettingDetailRegistrationDate)
		VALUES(#{functionTestSettingFormKeyNum},#{functionTestSettingCategoryKeyNum},#{functionTestSettingSubCategoryKeyNum},#{functionTestSettingDetailMethod},#{functionTestSettingDetailRegistrant},#{functionTestSettingDetailRegistrationDate});
	</insert>
	
	<update id="functionTestSettingDetailUpdate">
		UPDATE functionTestSettingDetail SET functionTestSettingDetailMethod = #{functionTestSettingDetailMethod}, functionTestSettingDetailModifier = #{functionTestSettingDetailModifier}, functionTestSettingDetailModifiedDate = #{functionTestSettingDetailModifiedDate}
		WHERE functionTestSettingDetailKeyNum = #{functionTestSettingDetailKeyNum};
	</update>
	
	<delete id="formDetailMinus" parameterType="_int">
		DELETE FROM functionTestSettingDetail WHERE functionTestSettingFormKeyNum = #{functionTestSettingFormKeyNum};
	</delete>
	
	<delete id="categoryDetailMinus" parameterType="_int">
		DELETE FROM functionTestSettingDetail WHERE functionTestSettingCategoryKeyNum = #{functionTestSettingCategoryKeyNum};
	</delete>
	
	<delete id="subCategoryDetailMinus" parameterType="_int">
		DELETE FROM functionTestSettingDetail WHERE functionTestSettingSubCategoryKeyNum = #{functionTestSettingSubCategoryKeyNum};
	</delete>
	
	<update id="updateFunctionTestSettingTortalCheck">
		UPDATE functionTestSettingSubCategory SET functionTestSettingSubCategoryTortal = #{functionTestSettingSubCategoryCheck}
		WHERE functionTestSettingSubCategoryKeyNum = #{functionTestSettingSubCategoryKeyNum};
	</update>
	
	<update id="updateFunctionTestSettingBasicCheck">
		UPDATE functionTestSettingSubCategory SET functionTestSettingSubCategoryBasic = #{functionTestSettingSubCategoryCheck}
		WHERE functionTestSettingSubCategoryKeyNum = #{functionTestSettingSubCategoryKeyNum};
	</update>
	
	<update id="updateFunctionTestSettingFoundationCheck">
		UPDATE functionTestSettingSubCategory SET functionTestSettingSubCategoryFoundation = #{functionTestSettingSubCategoryCheck}
		WHERE functionTestSettingSubCategoryKeyNum = #{functionTestSettingSubCategoryKeyNum};
	</update>
	
	<select id="getFunctionTestSettingFormSort" parameterType="_int" resultType="_int">
		SELECT functionTestSettingFormSort FROM functionTestSettingForm WHERE functionTestSettingFormKeyNum = #{functionTestSettingFormKeyNum};
	</select>
	
	<update id="getFunctionTestSettingFormSortPlus">
		UPDATE functionTestSettingForm SET functionTestSettingFormSort = functionTestSettingFormSort + 1 WHERE functionTestSettingFormSort >= #{functionTestSettingFormSort};
	</update>
	
	<select id="getFunctionTestSettingCategorySort" parameterType="_int" resultType="_int">
		SELECT functionTestSettingCategorySort FROM functionTestSettingCategory WHERE functionTestSettingCategoryKeyNum = #{functionTestSettingCategoryKeyNum};
	</select>
	
	<update id="getFunctionTestSettingCategorySortPlus">
		UPDATE functionTestSettingCategory SET functionTestSettingCategorySort = functionTestSettingCategorySort + 1 WHERE functionTestSettingCategorySort >= #{functionTestSettingCategorySort};
	</update>
	
	<select id="getFunctionTestSettingSubCategorySort" parameterType="_int" resultType="_int">
		SELECT functionTestSettingSubCategorySort FROM functionTestSettingSubCategory WHERE functionTestSettingSubCategoryKeyNum = #{functionTestSettingSubCategoryKeyNum};
	</select>
	
	<update id="getFunctionTestSettingSubCategorySortPlus">
		UPDATE functionTestSettingSubCategory SET functionTestSettingSubCategorySort = functionTestSettingSubCategorySort + 1 WHERE functionTestSettingSubCategorySort >= #{functionTestSettingSubCategorySort};
	</update>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlFunctionTestSetting">
		<if test="functionTestSettingSubCategoryTortal != null and functionTestSettingSubCategoryTortal != ''">
			AND s.functionTestSettingSubCategoryTortal = 'success'
		</if>
		<if test="functionTestSettingSubCategoryBasic != null and functionTestSettingSubCategoryBasic != ''">
			AND s.functionTestSettingSubCategoryBasic = 'success'
		</if>
		<if test="functionTestSettingSubCategoryFoundation != null and functionTestSettingSubCategoryFoundation != ''">
			AND s.functionTestSettingSubCategoryFoundation = 'success'
		</if>
	</sql>
	
	
</mapper>