<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="functionTest">
	<resultMap type="com.secuve.agentInfo.vo.FunctionTest" id="functionTest"></resultMap>
	
	<select id="getFunctionTest" resultMap="functionTest" parameterType="string">
		SELECT DISTINCT functionTestKeyNum, functionTestCustomer, functionTestTitle, functionTestDate
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT DISTINCT functionTestKeyNum, functionTestCustomer, functionTestTitle, functionTestDate
				FROM functionTest
					<include refid="sqlFunctionTest" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getFunctionTestCount" resultType="_int">
		SELECT COUNT(DISTINCT functionTestKeyNum) FROM functionTest
			<include refid="sqlFunctionTest" />
	</select>
	
	<select id="getFunctionTestKeyNum" resultType="_int">
		SELECT MAX(functionTestKeyNum) FROM functionTest;
	</select>
	
	<insert id="insertFunctionTest">
		INSERT INTO functionTest(functionTestKeyNum,functionTestCustomer,functionTestTitle,functionTestDate,functionTestSettingSubCategoryKeyNum,functionTestSubCategoryState,functionTestSubCategoryFailReason,functionTestType,functionTestRegistrant,functionTestRegistrationDate,functionTestModifier,functionTestModifiedDate)
		VALUES(#{functionTestKeyNum},#{functionTestCustomer},#{functionTestTitle},#{functionTestDate},#{functionTestSettingSubCategoryKeyNum},#{functionTestSubCategoryState},#{functionTestSubCategoryFailReason},#{functionTestType},#{functionTestRegistrant},#{functionTestRegistrationDate},#{functionTestModifier},#{functionTestModifiedDate});
	</insert>
	
	<select id="getFunctionTestOneTitle" resultMap="functionTest" parameterType="_int">
		SELECT DISTINCT functionTestKeyNum, functionTestCustomer, functionTestTitle, functionTestDate 
		FROM functionTest 
		WHERE functionTestKeyNum = #{functionTestKeyNum};
	</select>
	
	<select id="getFunctionTestOne" resultMap="functionTest" parameterType="_int">
		SELECT * FROM functionTest WHERE functionTestKeyNum = #{functionTestKeyNum};
	</select>
	
	<delete id="delFunctionTest" parameterType="_int">
		DELETE FROM functionTest WHERE functionTestKeyNum = #{functionTestKeyNum};
	</delete>
	
	<select id="functionTestFunctionTestSettingSubCategoryKeyNum" parameterType="_int" resultType="java.lang.Integer">
		SELECT functionTestSettingSubCategoryKeyNum FROM functionTest WHERE functionTestKeyNum = #{functionTestKeyNum};
	</select>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlFunctionTest">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="functionTestCustomer != null and functionTestCustomer != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="functionTestCustomerArr" item="arr">
						OR functionTestCustomer LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="functionTestTitle != null and functionTestTitle != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="functionTestTitleArr" item="arr">
						OR functionTestTitle LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="functionTestDateStart != null and functionTestDateStart != ''">
				AND functionTestDate BETWEEN #{functionTestDateStart} AND #{functionTestDateEnd}
			</if>
			AND functionTestType = #{functionTestType}
		</trim>
	</sql>
	
</mapper>