<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="individualNote">
	<resultMap type="com.secuve.agentInfo.vo.IndividualNote" id="individualNote"></resultMap>
	
	<select id="getIndividualNote" resultMap="individualNote" parameterType="string">
		SELECT *
		FROM individualNote
		WHERE individualNoteRegistrant=#{individualNoteRegistrant};
	</select>
	
	<select id="getIndividualNoteKeyNum" resultType="_int">
		SELECT MAX(individualNoteKeyNum) FROM individualnote;
	</select>
	
	<insert id="insertIndividualNote">
		INSERT INTO individualNote(individualNoteKeyNum,individualNoteTitle,individualNoteContents,individualNoteRegistrant,individualNoteRegistrationDate,individualNoteModifier,individualNoteModifiedDate) 
		VALUE(#{individualNoteKeyNum},#{individualNoteTitleView},#{individualNoteContentsView},#{individualNoteRegistrant},#{individualNoteRegistrationDate},#{individualNoteModifier},#{individualNoteModifiedDate});
	</insert>
	
	<select id="getIndividualNoteSearch" parameterType="string" resultMap="individualNote">
		SELECT *
		FROM individualNote
		WHERE individualNoteRegistrant=#{individualNoteRegistrant}
		<if test="count != 0">
			AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="individualNoteTitle" item="arr">
						OR individualNoteTitle LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
			)
		</if>
	</select>
	
	<select id="getIndividualNoteOne" resultMap="individualNote">
		SELECT * FROM individualNote WHERE individualNoteKeyNum = #{individualNoteKeyNum} AND individualNoteRegistrant=#{individualNoteRegistrant};
	</select>
	
	<update id="updateIndividualNote">
		UPDATE individualNote SET individualNoteTitle=#{individualNoteTitleView},individualNoteContents=#{individualNoteContentsView},individualNoteModifier=#{individualNoteModifier},individualNoteModifiedDate=#{individualNoteModifiedDate}
		WHERE individualNoteKeyNum=#{individualNoteKeyNum};
	</update>
	
	<delete id="delIndividualNote" parameterType="_int">
		DELETE FROM individualNote WHERE individualNoteKeyNum = #{individualNoteKeyNum};
	</delete>
	
	<delete id="delAllIndividualNote" parameterType="string">
		DELETE FROM individualNote WHERE individualNoteRegistrant = #{individualNoteRegistrant};
	</delete>
	
	<select id="getIndividualNoteTitle" resultType="string" parameterType="string">
		SELECT individualNoteTitle FROM individualNote WHERE individualNoteRegistrant = #{individualNoteRegistrant};
	</select>
</mapper>