<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="integratedManagement">
	<resultMap type="com.secuve.agentInfo.vo.IntegratedManagement" id="integratedManagement"></resultMap>
	
	<select id="getIntegratedManagementList" resultMap="integratedManagement" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}, integratedManagementKeyNum DESC) RowNo, a.*
    		FROM (
				SELECT *
				FROM integratedManagement
				<include refid="sqlIntegratedManagement" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getIntegratedManagementListCount" resultType="_int">
		SELECT COUNT(*) FROM integratedManagement
		<include refid="sqlIntegratedManagement" />
	</select>
	

	<delete id="delResultsReportMapping">
		DELETE FROM integratedManagement WHERE integratedManagementType = 'resultsReport' AND packagesKeyNum = ${packagesKeyNum};
	</delete>
	
	<insert id="setResultsReportMapping">
		INSERT INTO integratedManagement(packagesKeyNum, resultsReportKeyNum, integratedManagementType)
		VALUES(${packagesKeyNum}, ${resultsReportKeyNum}, #{integratedManagementType});
	</insert>
	
	<select id="getIntegratedManagementOne" resultMap="integratedManagement">
		SELECT * FROM integratedManagement WHERE  packagesKeyNum IN (SELECT packagesKeyNum FROM packages WHERE packageName = #{packageName}) AND integratedManagementType = #{integratedManagementType} GROUP BY integratedManagementType, packagesKeyNum ORDER BY 1 DESC LIMIT 1;
	</select>
	
	<insert id="setProductVersionMapping">
		INSERT INTO integratedManagement(packagesKeyNum, productVersionKeyNum, menuKeyNum, integratedManagementType)
		VALUES(${packagesKeyNum}, ${productVersionKeyNum}, #{menuKeyNum}, #{integratedManagementType});
	</insert>
	
	<select id="getIntegratedManagementOneList" resultMap="integratedManagement">
		SELECT * FROM integratedManagement WHERE packagesKeyNum = ${packagesKeyNum} AND integratedManagementType = #{integratedManagementType} GROUP BY integratedManagementType, packagesKeyNum, productversionKeyNum, menuKeyNum;
	</select>
	
	<delete id="delProductVersion">
		DELETE FROM integratedManagement WHERE integratedManagementType = 'productVersion' AND packagesKeyNum = ${packagesKeyNum} AND menuKeyNum = ${menuKeyNum} AND productVersionKeyNum = #{productVersionKeyNum};
	</delete>
	
	<insert id="setIssueMapping">
		INSERT INTO integratedManagement(packagesKeyNum, menuKeyNum, productVersionKeyNum, issuePrimaryKeyNum, integratedManagementType)
		VALUES(${packagesKeyNum}, ${menuKeyNum}, ${productVersionKeyNum}, ${issuePrimaryKeyNum}, #{integratedManagementType});
	</insert>
	
	<select id="getIntegratedManagementIssue" resultMap="integratedManagement">
		SELECT * FROM integratedManagement WHERE packagesKeyNum = ${packagesKeyNum} AND integratedManagementType = 'issue' AND menuKeyNum = ${menuKeyNum} AND productVersionKeyNum = ${productVersionKeyNum} GROUP BY packagesKeyNum, integratedManagementType, menuKeyNum, productVersionKeyNum, issuePrimaryKeyNum; 
	</select>
	
	<delete id="delIssue">
		DELETE FROM integratedManagement WHERE integratedManagementType = 'issue' AND packagesKeyNum = ${packagesKeyNum} AND menuKeyNum = ${menuKeyNum} AND productVersionKeyNum = #{productVersionKeyNum} AND issuePrimaryKeyNum = ${issuePrimaryKeyNum};
	</delete>
	
	<select id="getPackagesNameProductVersionList" parameterType="string" resultMap="integratedManagement">
		SELECT * FROM integratedManagement WHERE packagesKeyNum IN (SELECT packagesKeyNum FROM packages WHERE packageName = #{packageName}) AND integratedManagementType = 'productVersion' GROUP BY packagesKeyNum, integratedManagementType, menuKeyNum, productVersionKeyNum, issuePrimaryKeyNum;
	</select>
	
	<select id="getPackagesNameIssueList" resultMap="integratedManagement">
		SELECT * FROM integratedManagement WHERE packagesKeyNum IN (SELECT packagesKeyNum FROM packages WHERE packageName = #{packageName}) AND integratedManagementType = 'issue' AND menuKeyNum = ${menuKeyNum} AND productVersionKeyNum = ${productVersionKeyNum} GROUP BY packagesKeyNum, integratedManagementType, menuKeyNum, productVersionKeyNum, issuePrimaryKeyNum;
	</select>
	<!-- ==================================================================================== -->
	
	<sql id="sqlIntegratedManagement">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="integratedManagementCustomerName != null and integratedManagementCustomerName != ''">
				AND integratedManagementCustomerName LIKE CONCAT('%',#{integratedManagementCustomerName},'%')
			</if>
			<if test="integratedManagementStart != null and integratedManagementStart != ''">
				AND issueDate BETWEEN #{integratedManagementStart} AND #{integratedManagementEnd}
			</if>
		</trim>
	</sql>
	
</mapper>