<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="issueRelay">
	<resultMap type="com.secuve.agentInfo.vo.IssueRelay" id="issueRelay"></resultMap>
	
	<insert id="insertIssueRelay" parameterType="issueRelay" useGeneratedKeys="true" keyProperty="issueRelayKeyNum">
		INSERT INTO issueRelay(issueRelayUrl, issueKeyNum,issuePrimaryKeyNum,issueRelayDetail,issueRelayType,issueRelayDate)
		VALUES(#{issueRelayUrl}, ${issueKeyNum},${issuePrimaryKeyNum},#{issueRelayDetail},#{issueRelayType},#{issueRelayDate});
	</insert>
	
	<select id="getIssueRelayUrlOne" resultMap="issueRelay" parameterType="string">
		SELECT * FROM issueRelay WHERE issueRelayUrl LIKE CONCAT('%',#{issueRelayRandomUrl}) GROUP BY issueRelayUrl;
	</select>
	
	<select id="getIssueRelayIssueOne" resultMap="issueRelay" parameterType="_int">
		SELECT * FROM issueRelay WHERE issueKeyNum = ${issueKeyNum} GROUP BY issueKeyNum;
	</select>
	
	<select id="getIssueRelayList" resultMap="issueRelay" parameterType="_int">
		SELECT * FROM issueRelay WHERE issueKeyNum = ${issueKeyNum};
	</select>
	
	<select id="getIssueRelayOne" resultMap="issueRelay" parameterType="_int">
		SELECT * FROM issueRelay WHERE issueRelayKeyNum = ${issueRelayKeyNum};
	</select>
	
	<update id="updateIssueRelay">
		UPDATE issueRelay SET issueRelayDetail = #{issueRelayDetail}, issueRelayDate = #{issueRelayDate} WHERE issueRelayKeyNum = ${issueRelayKeyNum};
	</update>
	
	<delete id="delIssueRelay">
		DELETE FROM issueRelay WHERE issueRelayKeyNum = ${issueRelayKeyNum};
	</delete>
	
	<select id="getIssueRelayIssuePrimaryKeyNumList" resultMap="issueRelay" parameterType="_int">
		SELECT * FROM issueRelay WHERE issuePrimaryKeyNum = ${issuePrimaryKeyNum};
	</select>
	
	<select id="getUrlDuplication" resultMap="issueRelay" parameterType="string">
		SELECT * FROM issueRelay WHERE issueRelayUrl LIKE CONCAT('%',#{issueRelayUrl},'%');
	</select>
	
	<select id="getIssuePrimaryKeyNumList" parameterType="_int" resultType="_int"> 
		SELECT issuePrimaryKeyNum FROM issuerelay WHERE issueKeyNum = ${issueKeyNum} GROUP BY issuePrimaryKeyNum;
	</select>
	
</mapper>