<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="issue">
	<resultMap type="com.secuve.agentInfo.vo.Issue" id="issue"></resultMap>
	
	<select id="getIssueList" resultMap="issue" parameterType="string">
		SELECT DISTINCT issueKeyNum, issueCustomer, issueTitle, issueTarget, issueSubTarget, issueFirstWriter, issueTester, issueFirstDate, issueDate, issueProceStatus, issueTosms, issueTosrf, issuePortal, issueJava, issueWas, issueRelayUrl
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT i. issueKeyNum, issueCustomer, issueTitle, issueTarget, issueSubTarget, issueFirstWriter, issueTester, issueFirstDate, issueDate, issueProceStatus, issueTosms, issueTosrf, issuePortal, issueJava, issueWas, issueRelayUrl
				FROM issue i 
				<if test="requestType == null or requestType == ''">
					LEFT JOIN issuerelay ir ON ir.issueKeyNum = i.issueKeyNum
				</if>
				<if test="requestType != null and requestType != ''">
					JOIN issuerelay ir ON ir.issueKeyNum = i.issueKeyNum
				</if>
					<include refid="sqlIssue" />
				GROUP BY issueKeyNum
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getIssueListCount" resultType="_int">
		SELECT COUNT(DISTINCT i.issueKeyNum) FROM issue i 
		<if test="requestType == null or requestType == ''">
			LEFT JOIN issuerelay ir ON ir.issueKeyNum = i.issueKeyNum
		</if>
		<if test="requestType != null and requestType != ''">
			JOIN issuerelay ir ON ir.issueKeyNum = i.issueKeyNum
		</if>
			<include refid="sqlIssue" />
	</select>
	
	<select id="getIssueKeyNum" resultType="_int">
		SELECT MAX(issueKeyNum) FROM issue;
	</select>
	
	<insert id="insertIssue">
		INSERT INTO issue(issueKeyNum,issueSortNum,issueCustomer,issueTitle,issueTarget,issueSubTarget,issueFirstWriter,issueTester,issueFirstDate,issueDate,issueTosms,issueTosrf,issuePortal,issueJava,issueWas,total,solution,unresolved,hold,issueProceStatus,issueDivision,issueOs,issueWriter,issueAward,issueMiddle,issueUnder1,issueUnder2,issueUnder3,issueUnder4,issueFlawNum,issueEffect,issueTextResult,issueApplyYn,issueConfirm,issueObstacle,issueNote,issueAnswerStatus,issueRegistrant,issueRegistrationDate,issueModifier,issueModifiedDate)
		VALUES(#{issueKeyNum},NEXTVAL(seq_issueSortNum),#{issueCustomer},#{issueTitle},#{issueTarget},#{issueSubTarget},#{issueFirstWriter},#{issueFirstWriter},#{issueFirstDate},#{issueDate},#{issueTosms},#{issueTosrf},#{issuePortal},#{issueJava},#{issueWas},#{total},#{solution},#{unresolved},#{hold},'progress',#{issueDivision},#{issueOs},#{issueWriter},#{issueAward},#{issueMiddle},#{issueUnder1},#{issueUnder2},#{issueUnder3},#{issueUnder4},#{issueFlawNum},#{issueEffect},#{issueTextResult},#{issueApplyYn},#{issueConfirm},#{issueObstacle},#{issueNote},'atmosphere',#{issueRegistrant},#{issueRegistrationDate},#{issueModifier},#{issueModifiedDate});
	</insert>
	
	<select id="getSelectInput" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM issue WHERE ${selectInput} != '';
	</select>
	
	<select id="getSelectInputTarget" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM issue WHERE ${selectInput} != '' AND issueTarget = #{issueTarget} AND issueSubTarget LIKE CONCAT('%',#{issueSubTarget},'%')
	</select>
	
	<select id="getIssueOne" resultMap="issue" parameterType="_int" useCache="true">
		SELECT * FROM issue WHERE issueKeyNum = #{issueKeyNum} ORDER BY issueSortNum;
	</select>
	
	<select id="getIssueOneIssueApplyYn" resultMap="issue" parameterType="_int">
		SELECT * FROM issue WHERE issueKeyNum = #{issueKeyNum} AND issueApplyYn = '미해결' ORDER BY issueSortNum;
	</select>
	
	<select id="getIssuePrimaryOne" resultMap="issue" parameterType="_int">
		SELECT * FROM issue WHERE issuePrimaryKeyNum = #{issuePrimaryKeyNum};
	</select>
	
	<select id="getIssueOneTitle" resultMap="issue" parameterType="_int">
		SELECT DISTINCT issueKeyNum, issueCustomer, issueTitle, issueTester, issueTarget, issueSubTarget, issueFirstWriter, issueDate, issueTosms, issueTosrf, issuePortal, issueJava, issueWas, total, solution, unresolved, hold
    	FROM issue
   		WHERE issueKeyNum = #{issueKeyNum};
	</select>
	
	<select id="getIssueOneMerge" resultMap="issue" parameterType="_int">
		SELECT DISTINCT issueKeyNum, issueCustomer, issueTitle, issueDate, issueTosms, issueTosrf, issuePortal, issueJava, issueWas, total, solution, unresolved, hold
    	FROM issue
   		WHERE issueKeyNum = #{issueKeyNum};
	</select>
	
	<delete id="delIssue" parameterType="_int">
		DELETE FROM issue WHERE issueKeyNum = #{issueKeyNum};
	</delete>
	
	<update id="setIssueKeyNum">
		UPDATE issue SET issueKeyNum = #{issueMergeKeyNum}, total = #{total}, solution = #{solution}, unresolved = #{unresolved}, hold = #{hold} 
		WHERE issueKeyNum = #{issueKeyNum};
	</update>
	
	<select id="getIssuePDFOne" resultMap="issue" parameterType="_int">
		SELECT * FROM issue WHERE issueKeyNum = #{issueKeyNum}
		AND (
			<trim prefix="" prefixOverrides="OR">
				<foreach collection="chkSelectBox" item="arr">
					OR issueApplyYn = #{arr}
				</foreach>
			</trim>
		)
	</select>
	
	<select id="getIssuePrimaryKeyNumList" resultType="_int" parameterType="_int">
		SELECT issuePrimaryKeyNum FROM issue WHERE issueKeyNum = ${issueKeyNum};
	</select>
	
	<insert id="insertIssuePlus" parameterType="issue" useGeneratedKeys="true" keyProperty="issuePrimaryKeyNum">
		INSERT INTO issue(issueKeyNum, issueSortNum, issueCustomer, issueTitle, issueTarget, issueSubTarget, issueFirstDate, issueFirstWriter, issueTester, issueDate, issueTosms, issueTosrf, issuePortal, issueJava, issueWas, total, solution, unresolved, hold, issueProceStatus, issueAnswerStatus, issueWriter, issueRegistrant, issueRegistrationDate) 
		VALUES(${issueKeyNum}, #{issueSortNum}, #{issueCustomer}, #{issueTitle}, #{issueTarget}, #{issueSubTarget}, #{issueFirstDate}, #{issueFirstWriter}, #{issueTester}, #{issueDate}, #{issueTosms}, #{issueTosrf}, #{issuePortal}, #{issueJava}, #{issueWas}, #{total}, #{solution}, #{unresolved}, #{hold}, 'progress', 'atmosphere', #{issueWriter}, #{issueRegistrant}, #{issueRegistrationDate});
	</insert>
	
	<update id="totalPlus">
		UPDATE issue SET total = total + 1 WHERE issueKeyNum = ${issueKeyNum};
	</update>
	
	<update id="issueSortNumPlus">
		UPDATE issue SET issueSortNum = issueSortNum + 1 WHERE issueSortNum &gt; ${issueSortNum};
	</update>
	
	<update id="unresolvedPlus">
		UPDATE issue SET unresolved = unresolved + 1 WHERE issueKeyNum = ${issueKeyNum};
	</update>
	
	<select id="getIssueKeyNumOne" resultMap="issue" parameterType="_int">
		SELECT * FROM issue WHERE issueKeyNum = ${issueKeyNum} GROUP BY issueKeyNum;
	</select>
	
	<delete id="issueMinus">
		DELETE FROM issue WHERE issuePrimaryKeyNum = ${issuePrimaryKeyNum};
	</delete>
	
	<update id="updateIssue">
		UPDATE issue SET issueCustomer=#{issueCustomer}, issueTitle=#{issueTitle}, issueTarget=#{issueTarget}, issueSubTarget=#{issueSubTarget}, issueFirstWriter=#{issueFirstWriter}, issueTester=#{issueTester}, issueDate=#{issueDate}, issueTosms=#{issueTosms}, issueTosrf=#{issueTosrf}, issuePortal=#{issuePortal}, issueJava=#{issueJava}, issueWas=#{issueWas}, total=#{total}, solution=#{solution}, unresolved=#{unresolved}, hold=#{hold}, issueDivision=#{issueDivision}, issueOs=#{issueOs}, issueAward=#{issueAward}, issueMiddle=#{issueMiddle}, issueUnder1=#{issueUnder1}, issueUnder2=#{issueUnder2}, issueUnder3=#{issueUnder3}, issueUnder4=#{issueUnder4}, issueFlawNum=#{issueFlawNum}, issueEffect=#{issueEffect}, issueTextResult=#{issueTextResult}, issueApplyYn=#{issueApplyYn}, issueConfirm=#{issueConfirm}, issueObstacle=#{issueObstacle}, issueNote=#{issueNote}, issueModifier=#{issueModifier}, issueModifiedDate=#{issueModifiedDate}
		WHERE issuePrimaryKeyNum=${issuePrimaryKeyNum};  
	</update>
	
	<select id="getIssueSortNumUp" resultType="_int" parameterType="_int">
		SELECT MAX(issueSortNum) 
		FROM issue 
		WHERE issueSortNum &lt; ${issueSortNum}
		AND issueKeyNum = ${issueKeyNum};
	</select>
	
	<update id="upIssueSortNum">
		UPDATE issue SET issueSortNum = issueSortNum + 1 WHERE issueSortNum &gt;= ${fineIssueSortNum};
	</update>
	
	<update id="changIssueSortNum">
		UPDATE issue SET issueSortNum = ${fineIssueSortNum} WHERE issuePrimaryKeyNum = ${issuePrimaryKeyNum};
	</update>
	
	<select id="getIssueSortNumDown" resultMap="issue" parameterType="_int">
		SELECT issueSortNum, issuePrimaryKeyNum
		FROM issue 
		WHERE issueSortNum &gt; ${issueSortNum}
		AND issueKeyNum = ${issueKeyNum}
		ORDER BY issueSortNum
		LIMIT 1;
	</select>
	
	<update id="updateIssueAnswerStatus">
		UPDATE issue SET issueAnswerStatus = #{issueAnswerStatus} WHERE issuePrimaryKeyNum = ${issuePrimaryKeyNum};
	</update>
	
	<update id="proceStatusChange">
		UPDATE issue SET issueProceStatus = #{issueProceStatus} WHERE issueKeyNum = ${issueKeyNum};
	</update>
	
	<select id="getIssueApplyYn" resultMap="issue" parameterType="_int">
		SELECT * FROM issue WHERE issueKeyNum = ${issueKeyNum} AND (issueApplyYn = '미해결' OR issueApplyYn = '보류');
	</select>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlIssue">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="issueCustomer != null and issueCustomer != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="issueCustomerArr" item="arr">
						OR i.issueCustomer LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issueTitle != null and issueTitle != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="issueTitleArr" item="arr">
						OR i.issueTitle LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issueTosms != null and issueTosms != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="issueTosmsArr" item="arr">
						OR i.issueTosms LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issueTosrf != null and issueTosrf != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="issueTosrfArr" item="arr">
						OR i.issueTosrf LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issuePortal != null and issuePortal != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="issuePortalArr" item="arr">
						OR i.issuePortal LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issueJava != null and issueJava != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="issueJavaArr" item="arr">
						OR i.issueJava LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issueWas != null and issueWas != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="issueWasArr" item="arr">
						OR i.issueWas LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issueProceStatusMulti != null and issueProceStatus != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="issueProceStatusArr" item="arr">
						OR i.issueProceStatus LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issueDateStart != null and issueDateStart != ''">
				AND i.issueDate BETWEEN #{issueDateStart} AND #{issueDateEnd}
			</if>
			<if test="requestType == 'development'">
				AND issueTarget = #{issueTarget}
				AND issueSubTarget LIKE CONCAT('%',#{issueSubTarget},'%')
			</if>
		</trim>
	</sql>
	
</mapper>