<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="license5">
	<resultMap type="com.secuve.agentInfo.vo.License5" id="license"></resultMap>
	<resultMap type="com.secuve.agentInfo.vo.LicenseSetting" id="licenseStting"></resultMap>
	
	<select id="getLicenseList" resultMap="license" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}, licenseKeyNum DESC) RowNo, a.*
    		FROM (
				SELECT *
				FROM license5
					<include refid="sqlLicense" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getLicenseListCount" resultType="_int">
		SELECT COUNT(*) FROM license5
			<include refid="sqlLicense" />
	</select>
	
	<select id="getSelectInput" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM license5 WHERE ${selectInput} != '';
	</select>
	
	<select id="getLicenseOne" parameterType="_int" resultMap="license">
		SELECT * FROM license5 WHERE licenseKeyNum = #{licenseKeyNum};	
	</select>
	
	<select id="getRoute" parameterType="string" resultType="string">
		SELECT ${column} FROM licenseSetting;
	</select>
	
	<insert id="issuedLicense">
		INSERT INTO license5(licenseType, productType, customerName, businessName, additionalInformation, macAddress, issueDate, expirationDays, igriffinAgentCount, tos5AgentCount, tos2AgentCount, dbmsCount, networkCount, aixCount, hpuxCount, solarisCount, linuxCount, windowsCount, managerOsType, managerDbmsType, country, productVersion, licenseFilePath, serialNumber, requester, licenseIssuanceRegistrant, licenseIssuanceRegistrationDate)
		VALUES(#{licenseTypeView}, #{productTypeView}, #{customerNameView}, #{businessNameView}, #{additionalInformationView}, #{macAddressView}, #{issueDateView}, #{expirationDaysView}, #{igriffinAgentCountView}, #{tos5AgentCountView}, #{tos2AgentCountView}, #{dbmsCountView}, #{networkCountView}, #{aixCountView}, #{hpuxCountView}, #{solarisCountView}, #{linuxCountView}, #{windowsCountView}, #{managerOsTypeView}, #{managerDbmsTypeView}, #{countryView}, #{productVersionView}, #{licenseFilePathView}, #{serialNumberView}, #{requesterView}, #{licenseIssuanceRegistrant}, #{licenseIssuanceRegistrationDate});
	</insert>
	
	<delete id="delLicense" parameterType="_int">
		DELETE FROM license5 WHERE licenseKeyNum = #{licenseKeyNum};
	</delete>
	
	<update id="updateLicense">
		UPDATE license5 SET licenseType=#{licenseTypeView}, productType=#{productTypeView}, customerName=#{customerNameView}, businessName=#{businessNameView}, additionalInformation=#{additionalInformationView}, macAddress=#{macAddressView}, issueDate=#{issueDateView}, expirationDays=#{expirationDaysView}, igriffinAgentCount=#{igriffinAgentCountView}, tos5AgentCount=#{tos5AgentCountView}, tos2AgentCount=#{tos2AgentCountView}, dbmsCount=#{dbmsCountView}, networkCount=#{networkCountView}, aixCount=#{aixCountView}, hpuxCount=#{hpuxCountView}, solarisCount=#{solarisCountView}, linuxCount=#{linuxCountView}, windowsCount=#{windowsCountView}, managerOsType=#{managerOsTypeView}, country=#{countryView}, productVersion=#{productVersionView}, licenseFilePath=#{licenseFilePathView}, serialNumber=#{serialNumberView}, requester=#{requesterView}, licenseIssuanceModifier=#{licenseIssuanceModifier}, licenseIssuanceModifiedDate=#{licenseIssuanceModifiedDate}     
		WHERE licenseKeyNum = #{licenseKeyNum};
	</update>
	
	<select id="existenceCheckInsert" resultType="string">
		SELECT serialNumber FROM license5 
		WHERE customerName = #{customerNameView}
		AND businessName = #{businessNameView}
		AND additionalInformation = #{additionalInformationView}
	</select>
	
	<select id="existenceCheckUpdate" resultType="string">
		SELECT serialNumber FROM license5 
		WHERE customerName = #{customerNameView}
		AND businessName = #{businessNameView}
		AND additionalInformation = #{additionalInformationView}
		AND serialNumber != #{serialNumber}
	</select>
	
	<select id="serialNumberCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM license5 WHERE serialNumber = #{serialNumber};
	</select>
	
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlLicense">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="licenseType != null and licenseType != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="licenseTypeArr" item="arr">
						OR licenseType LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="customerName != null and customerName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="customerNameArr" item="arr">
						OR customerName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="businessName != null and businessName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="businessNameArr" item="arr">
						OR businessName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="requester != null and requester != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="requesterArr" item="arr">
						OR requester LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="productType != null and productType != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="productTypeArr" item="arr">
						OR productType LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="additionalInformation != null and additionalInformation != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="additionalInformationArr" item="arr">
						OR additionalInformation LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="macAddress != null and macAddress != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="macAddressArr" item="arr">
						OR macAddress LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="managerOsType != null and managerOsType != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="managerOsTypeArr" item="arr">
						OR managerOsType LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="managerDbmsType != null and managerDbmsType != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="managerDbmsTypeArr" item="arr">
						OR managerDbmsType LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="productVersion != null and productVersion != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="productVersionArr" item="arr">
						OR productVersion LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="licenseFilePath != null and licenseFilePath != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="licenseFilePathArr" item="arr">
						OR licenseFilePath LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serialNumber != null and serialNumber != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serialNumberArr" item="arr">
						OR serialNumber LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="country != null and country != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="countryArr" item="arr">
						OR country LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="issueDate != null and issueDate != ''">
				AND issueDate = #{issueDate}
			</if>
			<if test="expirationDays != null and expirationDays != ''">
				AND expirationDays = #{expirationDays}
			</if>
			
			<if test="igriffinAgentCount != null and igriffinAgentCount != ''">
				AND igriffinAgentCount = #{igriffinAgentCount}
			</if>
			<if test="tos5AgentCount != null and tos5AgentCount != ''">
				AND tos5AgentCount = #{tos5AgentCount}
			</if>
			<if test="tos2AgentCount != null and tos2AgentCount != ''">
				AND tos2AgentCount = #{tos2AgentCount}
			</if>
			<if test="dbmsCount != null and dbmsCount != ''">
				AND dbmsCount = #{dbmsCount}
			</if>
			<if test="networkCount != null and networkCount != ''">
				AND networkCount = #{networkCount}
			</if>
			<if test="aixCount != null and aixCount != ''">
				AND aixCount = #{aixCount}
			</if>
			<if test="hpuxCount != null and hpuxCount != ''">
				AND hpuxCount = #{hpuxCount}
			</if>
			<if test="solarisCount != null and solarisCount != ''">
				AND solarisCount = #{solarisCount}
			</if>
			<if test="linuxCount != null and linuxCount != ''">
				AND linuxCount = #{linuxCount}
			</if>
			<if test="windowsCount != null and windowsCount != ''">
				AND windowsCount = #{windowsCount}
			</if>
		</trim>
	</sql>
	
</mapper>