<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="logGriffin">
	<resultMap type="com.secuve.agentInfo.vo.LogGriffin" id="logGriffin"></resultMap>
	
	<select id="getLicenseList" resultMap="logGriffin" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}, logGriffinKeyNum DESC) RowNo, a.*
    		FROM (
				SELECT *
				FROM logGriffin
				<include refid="sqlLicense" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getLicenseListCount" resultType="_int">
		SELECT COUNT(*) FROM logGriffin
		<include refid="sqlLicense" />
	</select>
	
	<select id="getSelectInput" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM logGriffin WHERE ${selectInput} != '';
	</select>
	
	<select id="getLicenseOne"  parameterType="_int" resultMap="logGriffin">
		SELECT * FROM logGriffin WHERE logGriffinKeyNum = #{logGriffinKeyNum};	
	</select>
	
	<select id="existenceCheckInsert" resultType="string">
		SELECT serialNumber FROM logGriffin 
		WHERE customerName = #{customerNameView}
		AND businessName = #{businessNameView}
		AND additionalInformation = #{additionalInformationView}
	</select>
	
	<select id="serialNumberCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM logGriffin WHERE serialNumber = #{serialNumber};
	</select>
	
	<select id="getRoute" parameterType="string" resultType="string">
		SELECT ${column} FROM licenseSetting;
	</select>
	
	<insert id="issuedLicense">
		INSERT INTO logGriffin(licenseType, customerName, businessName, additionalInformation, macAddress, issueDate, expirationDays, productName, productVersion, agentCount, agentLisCount, serialNumber, licenseFilePath, requester, requesterId, salesManagerId, logGriffinRegistrant, logGriffinRegistrationDate)
		VALUES(#{licenseTypeView}, #{customerNameView}, #{businessNameView}, #{additionalInformationView}, #{macAddressView}, #{issueDateView}, #{expirationDaysView}, #{productNameView}, #{productVersionView}, #{agentCountView}, #{agentLisCountView}, #{serialNumberView}, #{licenseFilePathView}, #{requesterView}, #{requesterId}, #{salesManagerId}, #{logGriffinRegistrant}, #{logGriffinRegistrationDate});
	</insert>
	
	<update id="updateLicense">
		UPDATE logGriffin SET licenseType=#{licenseTypeView},customerName=#{customerNameView}, businessName=#{businessNameView}, additionalInformation=#{additionalInformationView}, macAddress=#{macAddressView}, issueDate=#{issueDateView}, expirationDays=#{expirationDaysView}, productName=#{productNameView}, productVersion=#{productVersionView}, agentCount=#{agentCountView}, agentLisCount=#{agentLisCountView}, serialNumber=#{serialNumberView}, licenseFilePath=#{licenseFilePathView}, requester=#{requesterView}, requesterId=#{requesterId}, salesManagerId=#{salesManagerId}, logGriffinModifier=#{logGriffinModifier}, logGriffinModifiedDate=#{logGriffinModifiedDate}     
		WHERE logGriffinKeyNum = #{logGriffinKeyNum};
	</update>
	
	<select id="existenceCheckUpdate" resultType="string">
		SELECT serialNumber FROM logGriffin 
		WHERE customerName = #{customerNameView}
		AND businessName = #{businessNameView}
		AND additionalInformation = #{additionalInformationView}
		AND serialNumber != #{serialNumber}
	</select>
	
	<delete id="delLicense" parameterType="_int">
		DELETE FROM logGriffin WHERE logGriffinKeyNum = #{logGriffinKeyNum};
	</delete>

	<select id="getLicenseListAll" resultMap="logGriffin" parameterType="string">
		SELECT * FROM logGriffin 
		<include refid="sqlLicense" />
	</select>
	
	<select id="getLicenseListPeriodDaily" resultMap="logGriffin" parameterType="_int">
		SELECT * FROM logGriffin 
		WHERE expirationDays != '무제한'
		AND STR_TO_DATE(expirationDays, '%Y-%m-%d')
			BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL ${period} DAY);
	</select>
	
	<select id="getLicenseListPeriodSingle" resultMap="logGriffin" parameterType="_int">
		SELECT *
		FROM logGriffin
		WHERE expirationDays != '무제한'
		  AND STR_TO_DATE(expirationDays, '%Y-%m-%d') = DATE_ADD(CURDATE(), INTERVAL ${period} DAY);
	</select>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlLicense">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="customerName != null and customerName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="customerNameArr" item="arr">
						OR customerName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="businessName != null and businessName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="businessNameArr" item="arr">
						OR businessName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="requester != null and requester != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="requesterArr" item="arr">
						OR requester LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="productName != null and productName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="productNameArr" item="arr">
						OR productName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="productVersion != null and productVersion != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="productVersionArr" item="arr">
						OR productVersion LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="macAddress != null and macAddress != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="macAddressArr" item="arr">
						OR macAddress LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="licenseFilePath != null and licenseFilePath != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="licenseFilePathArr" item="arr">
						OR licenseFilePath LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serialNumber != null and serialNumber != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serialNumberArr" item="arr">
						OR serialNumber LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="agentCount != null and agentCount != ''">
				AND agentCount = #{agentCount}
			</if>
			<if test="agentLisCount != null and agentLisCount != ''">
				AND agentLisCount = #{agentLisCount}
			</if>
			<if test="additionalInformation != null and additionalInformation != ''">
				AND additionalInformation = #{additionalInformation}
			</if>
			<if test="issueDateStart != null and issueDateStart != ''">
				AND issueDate BETWEEN #{issueDateStart} AND #{issueDateEnd}
			</if>
			<if test="expirationDaysStart != null and expirationDaysStart != ''">
				AND expirationDays BETWEEN #{expirationDaysStart} AND #{expirationDaysEnd}
			</if>
		</trim>
	</sql>
	
</mapper>