<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="menuSetting">
	<resultMap type="com.secuve.agentInfo.vo.MenuSetting" id="menuSetting"></resultMap>
	
	<select id="getMainMenuSetting" resultMap="menuSetting" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM menuSetting
				WHERE menuType = 'main'
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getMainMenuSettingCount" resultType="_int">
		SELECT COUNT(*) FROM menuSetting WHERE menuType = 'main';
	</select>
	
	<select id="getSubMenuSetting" resultMap="menuSetting" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM menuSetting
				WHERE menuType = 'sub'
				AND menuParentKeyNum = #{menuParentKeyNum}
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getSubMenuSettingCount" resultType="_int">
		SELECT COUNT(*) FROM menuSetting WHERE menuType = 'sub' AND menuParentKeyNum = #{menuParentKeyNum};
	</select>
	
	<insert id="insertMenuSetting">
		INSERT INTO menuSetting(menuSort, menuType, menuTitle, menuParentKeyNum, menuItemType, menuSettingRegistrant, menuSettingRegistrationDate)
		VALUES(#{menuSort},#{menuType},#{menuTitle},#{menuParentKeyNum},#{menuItemType},#{menuSettingRegistrant},#{menuSettingRegistrationDate});
	</insert>
	
	<select id="getMenuSettingOne" parameterType="_int" resultMap="menuSetting">
		SELECT * FROM menuSetting WHERE menuKeyNum = #{menuKeyNum};
	</select>
	
	<update id="updateMenuSetting">
		UPDATE menuSetting SET menuSort = #{menuSort}, menuTitle = #{menuTitle}, menuItemType = #{menuItemType} WHERE menuKeyNum = #{menuKeyNum};
	</update>
	
	<delete id="delMenuSetting" parameterType="_int">
		DELETE FROM menuSetting WHERE menuKeyNum = #{menuKeyNum};
	</delete>
	
	<select id="getMenuList" resultMap="menuSetting">
		SELECT * FROM menuSetting ORDER BY menuSort ASC;
	</select>
	
	<select id="getMenuSortCheck" resultType="_int">
		SELECT COUNT(*) FROM menuSetting WHERE menuType = #{menuType} AND menuSort = #{menuSort};
	</select>
	
	<select id="getMenuTitleCheck" resultType="_int">
		SELECT COUNT(*) FROM menuSetting WHERE menuType = #{menuType} AND menuTitle = #{menuTitle};
	</select>
	
	<select id="getItemCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM menuSetting WHERE menuParentKeyNum = ${mainKeyNum};
	</select>
	
	<select id="getItmeMenuSetting" resultMap="menuSetting" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM menuSetting
				WHERE menuType = 'item'
				AND menuParentKeyNum = #{menuParentKeyNum}
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getItmeMenuSettingListCount" resultType="_int">
		SELECT COUNT(*) FROM menuSetting WHERE menuType = 'item' AND menuParentKeyNum = #{menuParentKeyNum};
	</select>
</mapper>