<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="requests">
	<resultMap type="com.secuve.agentInfo.vo.Requests" id="requests"></resultMap>
	
	<select id="getRequestsList" resultMap="requests" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT r.*, e.employeeName 
				FROM requests r INNER JOIN employee e
				ON r.employeeId = e.employeeId
					<include refid="sqlRequests" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getRequestsListCount" resultType="_int">
		SELECT COUNT(*) FROM requests r
			<include refid="sqlRequests" />
	</select>
	
	<select id="getRequestsKeyNum" resultType="_int">
		SELECT MAX(requestsKeyNum) FROM requests;
	</select>
	
	<insert id="insertRequests">
		INSERT INTO requests(requestsKeyNum, employeeId, requestsTitle, requestsDetail, requestsState, requestsDate, requestsRegistrant, requestsRegistrationDate)
		VALUES(#{requestsKeyNum}, #{employeeId}, #{requestsTitle}, #{requestsDetail}, #{requestsState}, #{requestsDate}, #{requestsRegistrant}, #{requestsRegistrationDate});
	</insert>
	
	<select id="getRequestsOne" parameterType="_int" resultMap="requests">
		SELECT r.*, e.employeeName 
		FROM requests r INNER JOIN employee e
		ON r.employeeId = e.employeeId
		WHERE r.requestsKeyNum = #{requestsKeyNum};
	</select>
	
	<update id="updateRequests">
		UPDATE requests SET requestsState = #{requestsState}
		WHERE requestsKeyNum = #{requestsKeyNum};
	</update>
	
	<select id="getRequestsCount" resultType="_int">
		SELECT COUNT(*) FROM requests WHERE requestsState = '요청';
	</select>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlRequests">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="usersId != null and usersId != ''"> 
				AND r.employeeId = #{usersId}
			</if>
			<if test="employeeId != null and employeeId != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="employeeIdArr" item="arr">
						OR r.employeeId LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="employeeName != null and employeeName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="employeeNameArr" item="arr">
						OR e.employeeName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="requestsState != null and requestsState != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="requestsStateArr" item="arr">
						OR r.requestsState LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="requestsTitle != null and requestsTitle != ''">
				AND r.requestsTitle LIKE CONCAT('%',#{requestsTitle},'%')
			</if>
			<if test="requestsDetail != null and requestsDetail != ''">
				AND r.requestsDetail LIKE CONCAT('%',#{requestsDetail},'%')
			</if>
		</trim>
	</sql>
</mapper>