<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="rGRIFFIN">
	<resultMap type="com.secuve.agentInfo.vo.RGRIFFIN" id="rGRIFFIN"></resultMap>
	
	<select id="getLicenseList" resultMap="rGRIFFIN" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}, rGRIFFINKeyNum DESC) RowNo, a.*
    		FROM (
				SELECT *
				FROM rGRIFFIN
				<include refid="sqlLicense" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getLicenseListCount" resultType="_int">
		SELECT COUNT(*) FROM rGRIFFIN
		<include refid="sqlLicense" />
	</select>
	
	<select id="getLicenseOne"  parameterType="_int" resultMap="rGRIFFIN">
		SELECT * FROM rGRIFFIN WHERE rGRIFFINKeyNum = #{rGRIFFINKeyNum};	
	</select>
	
	
	<insert id="licenseInsert">
		INSERT INTO rGRIFFIN(rGRIFFINCompany, rGRIFFINCategory, rGRIFFINExpire, rGRIFFINQuantity, rGRIFFINRgmsid, rGRIFFINPassword, rGRIFFINFilePath, rGRIFFINRequester, rGRIFFINRegistrant, rGRIFFINRegistrationDate)
		VALUES(#{rGRIFFINCompanyView}, #{rGRIFFINCategoryView}, #{rGRIFFINExpireView}, #{rGRIFFINQuantityView}, #{rGRIFFINRgmsidView}, #{rGRIFFINPasswordView}, #{rGRIFFINFilePathView}, #{rGRIFFINRequesterView}, #{rGRIFFINRegistrant}, #{rGRIFFINRegistrationDate});
	</insert>
	
	<update id="updateLicense">
		UPDATE rGRIFFIN SET rGRIFFINCompany=#{rGRIFFINCompanyView}, rGRIFFINCategory=#{rGRIFFINCategoryView}, rGRIFFINExpire=#{rGRIFFINExpireView}, rGRIFFINQuantity=#{rGRIFFINQuantityView}, rGRIFFINRgmsid=#{rGRIFFINRgmsidView}, rGRIFFINPassword=#{rGRIFFINPasswordView}, rGRIFFINFilePath=#{rGRIFFINFilePathView}, rGRIFFINRequester=#{rGRIFFINRequesterView}, rGRIFFINModifier=#{rGRIFFINModifier}, rGRIFFINModifiedDate=#{rGRIFFINModifiedDate}    
		WHERE rGRIFFINKeyNum = #{rGRIFFINKeyNum};
	</update>
	
	
	<delete id="delLicense" parameterType="_int">
		DELETE FROM rGRIFFIN WHERE rGRIFFINKeyNum = #{rGRIFFINKeyNum};
	</delete>
	
	<select id="listAll" resultMap="rGRIFFIN" parameterType="string">
		SELECT * FROM rGRIFFIN 
		<include refid="sqlLicense" />
	</select>

	
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlLicense">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="rGRIFFINCompany != null and rGRIFFINCompany != ''">
				AND rGRIFFINCompany LIKE CONCAT('%',#{rGRIFFINCompany},'%')
			</if>
			<if test="rGRIFFINCategory != null and rGRIFFINCategory != ''">
				AND rGRIFFINCategory LIKE CONCAT('%',#{rGRIFFINCategory},'%')
			</if>
			<if test="rGRIFFINExpire != null and rGRIFFINExpire != ''">
				AND rGRIFFINExpire LIKE CONCAT('%',#{rGRIFFINExpire},'%')
			</if>
			<if test="rGRIFFINQuantity != null and rGRIFFINQuantity != ''">
				AND rGRIFFINQuantity LIKE CONCAT('%',#{rGRIFFINQuantity},'%')
			</if>
			<if test="rGRIFFINRgmsid != null and rGRIFFINRgmsid != ''">
				AND rGRIFFINRgmsid LIKE CONCAT('%',#{rGRIFFINRgmsid},'%')
			</if>
			<if test="rGRIFFINPassword != null and rGRIFFINPassword != ''">
				AND rGRIFFINPassword LIKE CONCAT('%',#{rGRIFFINPassword},'%')
			</if>
			<if test="rGRIFFINFilePath != null and rGRIFFINFilePath != ''">
				AND rGRIFFINFilePath LIKE CONCAT('%',#{rGRIFFINFilePath},'%')
			</if>
			<if test="rGRIFFINRequester != null and rGRIFFINRequester != ''">
				AND rGRIFFINRequester LIKE CONCAT('%',#{rGRIFFINRequester},'%')
			</if>
			<if test="rGRIFFINExpireStart != null and rGRIFFINExpireStart != ''">
				AND issueDate BETWEEN #{rGRIFFINExpireStart} AND #{rGRIFFINExpireEnd}
			</if>
		</trim>
	</sql>
	
</mapper>