<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="selenium">
	<resultMap type="com.secuve.agentInfo.vo.Selenium" id="selenium"></resultMap>
	
	<select id="getSeleniumList" resultMap="selenium" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT seleniumKeyNum, seleniumTitle, seleniumAddress, seleniumDetailNote, seleniumGroupName, seleniumGroupFullPath, seleniumGroupParentPath
				FROM selenium
				<include refid="sqlSelenium" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getSeleniumListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM selenium
		<include refid="sqlSelenium" />
	</select>
	
	<insert id="insertSelenium" parameterType="selenium" useGeneratedKeys="true" keyProperty="seleniumKeyNum">
		INSERT INTO selenium(seleniumTitle, seleniumAddress, seleniumDetailNote, seleniumActionSteps, seleniumGroupName, seleniumGroupFullPath, seleniumGroupParentPath, seleniumRegistrant, seleniumRegistrationDate)
		VALUES(#{seleniumTitleView}, #{seleniumAddressView}, #{seleniumDetailNoteView}, #{seleniumActionStepsView}, #{seleniumGroupName}, #{seleniumGroupFullPath}, #{seleniumGroupParentPath}, #{seleniumRegistrant}, #{seleniumRegistrationDate});
	</insert>
	
	<update id="updateSelenium">
		UPDATE selenium SET seleniumTitle = #{seleniumTitleView}, seleniumAddress = #{seleniumAddressView}, seleniumDetailNote = #{seleniumDetailNoteView}, seleniumActionSteps = #{seleniumActionStepsView}, seleniumGroupName = #{seleniumGroupName}, seleniumGroupFullPath = #{seleniumGroupFullPath}, seleniumGroupParentPath = #{seleniumGroupParentPath}, seleniumModifier = #{seleniumModifier}, seleniumModifiedDate = #{seleniumModifiedDate}
		WHERE  seleniumKeyNum = ${seleniumKeyNum};
	</update>
	
	<select id="getSeleniumOne" parameterType="_int" resultMap="selenium">
		SELECT * FROM selenium WHERE seleniumKeyNum = #{seleniumKeyNum};	
	</select>
	
	<delete id="delSelenium" parameterType="_int">
		DELETE FROM selenium WHERE seleniumKeyNum = #{seleniumKeyNum};
	</delete>
	
	<update id="updateGroup">
		UPDATE selenium SET seleniumGroupFullPath = #{seleniumGroupFullPath}, seleniumGroupParentPath = #{seleniumGroupParentPath}, seleniumGroupName = #{seleniumGroupName} WHERE seleniumGroupFullPath = #{ordSeleniumGroupFullPath};
	</update>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlSelenium">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="seleniumTitle != null and seleniumTitle != ''">
				AND seleniumTitle LIKE CONCAT('%',#{seleniumTitle},'%')
			</if>
			<if test="seleniumAddress != null and seleniumAddress != ''">
				AND seleniumAddress LIKE CONCAT('%',#{seleniumAddress},'%')
			</if>
			<if test="seleniumDetailNote != null and seleniumDetailNote != ''">
				AND seleniumDetailNote LIKE CONCAT('%',#{seleniumDetailNote},'%')
			</if>
			<if test="seleniumGroupName != null and seleniumGroupName != ''">
				AND seleniumGroupName = #{seleniumGroupName}
			</if>
			<if test="seleniumGroupFullPath != null and seleniumGroupFullPath != ''">
				AND seleniumGroupFullPath = #{seleniumGroupFullPath}
			</if>
		</trim>
	</sql>
</mapper>