<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="sendPackage">
	<resultMap type="com.secuve.agentInfo.vo.SendPackage" id="sendPackage"></resultMap>
	
	<select id="getSendPackage" resultMap="sendPackage" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM sendPackage
				WHERE sendPackageFlag = true
					<include refid="sqlSendPackage" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getSendPackageCount" resultType="_int">
		SELECT COUNT(*) FROM sendPackage
		WHERE sendPackageFlag = true
			<include refid="sqlSendPackage" />
	</select>
	
	<insert id="insertSendPackage">
		INSERT INTO sendPackage(sendPackageName, sendPackageStartDate, sendPackageEndDate, sendPackageCount, sendPackageLimitCount, sendPackageRandomUrl, sendPackageFlag, customerName, businessName, networkClassification, manager, requestDate, managementServer, sendPackageRegistrant, sendPackageRegistrationDate)
		VALUES (#{sendPackageNameView}, #{sendPackageStartDateView}, #{sendPackageEndDateView}, 0, #{sendPackageLimitCountView}, #{sendPackageRandomUrl}, true, #{customerNameView}, #{businessNameView}, #{networkClassificationView}, #{managerView}, #{requestDateView}, #{managementServerView}, #{sendPackageRegistrant}, #{sendPackageRegistrationDate});
		
		<selectKey resultType="int" keyProperty="sendPackageKeyNum" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<delete id="deleteSendPackage">
		DELETE FROM sendPackage WHERE sendPackageKeyNum = #{sendPackageKeyNum};
	</delete>
	
	<select id="getSendPackageOne" parameterType="_int" resultMap="sendPackage">
		SELECT * FROM sendPackage WHERE sendPackageKeyNum = #{sendPackageKeyNum};
	</select>
	
	<update id="updateSendPackage">
		UPDATE sendPackage SET sendPackageStartDate=#{sendPackageStartDateView}, sendPackageCount=#{sendPackageCountView},
		<if test="sendPackageNameView != null and sendPackageNameView != ''"> 
			sendPackageName=#{sendPackageNameView},
		</if>
		sendPackageEndDate=#{sendPackageEndDateView}, sendPackageLimitCount=#{sendPackageLimitCountView}, sendPackageModifier=#{sendPackageModifier}, sendPackageModifiedDate=#{sendPackageModifiedDate},
		customerName=#{customerNameView}, businessName=#{businessNameView}, networkClassification=#{networkClassificationView}, manager=#{managerView}, requestDate=#{requestDateView}, managementServer=#{managementServerView}
		WHERE sendPackageKeyNum = #{sendPackageKeyNum};
	</update>
	
	<select id="batchDownload"  parameterType="_int" resultType="string">
		SELECT releaseNotes FROM sendPackage WHERE sendPackageKeyNum = #{sendPackageKeyNum};
	</select>
	
	<select id="getSendPackageListOne" resultMap="sendPackage" parameterType="string">
		SELECT * FROM sendPackage WHERE sendPackageRandomUrl = #{sendPackageRandomUrl} AND sendPackageFlag = true;
	</select>
	
	<update id="downloadCount">
		UPDATE sendPackage SET sendPackageCount = sendPackageCount + 1 WHERE sendPackageRandomUrl = #{sendPackageRandomUrl} AND sendPackageName = #{sendPackageName};
	</update>
	
	<select id="downloadLimitCount" parameterType="string" resultType="_int">
		SELECT (sendPackageLimitCount-sendPackageCount) AS count FROM sendpackage WHERE sendPackageRandomUrl = #{sendPackageRandomUrl} AND sendPackageName = #{sendPackageName};
	</select>
	
	<delete id="deleteSendPackageCountOver" parameterType="string">
		DELETE FROM sendPackage WHERE sendPackageRandomUrl = #{sendPackageRandomUrl} AND sendPackageName = #{sendPackageName};
	</delete>
	
	<update id="updateSendPackageFlag">
		UPDATE sendPackage SET sendPackageFlag = false WHERE sendPackageRandomUrl = #{sendPackageRandomUrl} AND sendPackageName = #{sendPackageName}; 
	</update>
	
	<select id="getRandomUrlCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM sendPackage WHERE sendPackageRandomUrl = #{sendPackageRandomUrl};
	</select>
	
	<update id="updateSendPackageFlagKey">
		UPDATE sendPackage SET sendPackageFlag = false WHERE sendPackageKeyNum = #{sendPackageKeyNum};
	</update>
	
	<delete id="deleteSendPackageSchedule">
		DELETE FROM sendPackage WHERE sendPackageFlag = false;
	</delete>
	
	<update id="expirationSendPackageSchedule">
		UPDATE sendPackage SET sendPackageFlag = false WHERE sendPackageEndDate &lt; DATE_FORMAT(now(), '%Y-%m-%d %H');
	</update>
	
	<select id="deleteSendPackageScheduleList" resultMap="sendPackage">
		SELECT * FROM sendPackage WHERE sendPackageFlag = false;
	</select>
	
	<select id="getSendPackageOneUrl" parameterType="string" resultType="boolean">
		SELECT sendPackageFlag FROM sendPackage WHERE sendPackageRandomUrl = #{sendPackageRandomUrl};
	</select>
	
	<update id="updateInfoSendPackage">
		UPDATE sendPackage SET sendPackageModifier=#{sendPackageModifier}, sendPackageModifiedDate=#{sendPackageModifiedDate},
			customerName=#{customerNameView}, businessName=#{businessNameView}, networkClassification=#{networkClassificationView}, manager=#{managerView}, requestDate=#{requestDateView}, managementServer=#{managementServerView}
		WHERE sendPackageKeyNum = #{sendPackageKeyNum};
	</update>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlSendPackage">
		<if test="sendPackageName != null and sendPackageName != ''"> 
			AND sendPackageName LIKE CONCAT('%',#{sendPackageName},'%')
		</if>
		<if test="sendPackageStartDate != null and sendPackageStartDate != ''"> 
			AND sendPackageStartDate LIKE CONCAT('%',#{sendPackageStartDate},'%')
		</if>
		<if test="sendPackageEndDate != null and sendPackageEndDate != ''"> 
			AND sendPackageEndDate LIKE CONCAT('%',#{sendPackageEndDate},'%')
		</if>
		<if test="networkClassification != null and networkClassification != ''"> 
			AND networkClassification LIKE CONCAT('%',#{networkClassification},'%')
		</if>
		<if test="manager != null and manager != ''"> 
			AND manager LIKE CONCAT('%',#{manager},'%')
		</if>
		<if test="requestDate != null and requestDate != ''"> 
			AND requestDate LIKE CONCAT('%',#{requestDate},'%')
		</if>
		<if test="customerName != null and customerName != ''">
			AND (
			<trim prefix="" prefixOverrides="OR">
				<foreach collection="customerNameArr" item="arr">
					OR customerName LIKE CONCAT('%',#{arr},'%')
				</foreach>
			</trim>
			)
		</if>
		<if test="businessName != null and businessName != ''">
			AND (
			<trim prefix="" prefixOverrides="OR">
				<foreach collection="businessNameArr" item="arr">
					OR businessName LIKE CONCAT('%',#{arr},'%')
				</foreach>
			</trim>
			)
		</if>
		<if test="managementServer != null and managementServer != ''">
			AND (
			<trim prefix="" prefixOverrides="OR">
				<foreach collection="managementServerArr" item="arr">
					OR managementServer LIKE CONCAT('%',#{arr},'%')
				</foreach>
			</trim>
			)
		</if>
	</sql>
</mapper>