<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="serverCalendar">
	<resultMap type="com.secuve.agentInfo.vo.ServerCalendar" id="serverCalendar"></resultMap>
	
	<select id="getServerCalendarList" resultMap="serverCalendar" parameterType="string">
		SELECT * FROM serverCalendarList WHERE serverCalendarListDepartment = #{serverCalendarListDepartment};
	</select>
	
	<insert id="insertServerCalendarList">
		INSERT INTO serverCalendarList(serverCalendarListContents, serverCalendarListColor, serverCalendarListDepartment, serverCalendarListRegistrant, serverCalendarListRegistrationDate)
		VALUES(#{serverCalendarListContents}, #{serverCalendarListColor}, #{serverCalendarListDepartment}, #{serverCalendarListRegistrant}, #{serverCalendarListRegistrationDate});
	</insert>
	
	<select id="overlapServerCalendarList" resultType="int">
		SELECT COUNT(*) FROM serverCalendarList WHERE serverCalendarListContents = #{serverCalendarListContents} AND serverCalendarListDepartment = #{serverCalendarListDepartment};
	</select>
	
	<insert id="insertServerCalendar" parameterType="serverCalendar" useGeneratedKeys="true" keyProperty="serverCalendarKeyNum">
	 	INSERT INTO serverCalendar(serverCalendarStart, serverCalendarEnd, serverCalendarContents, serverCalendarColor, serverCalendarAllDay, serverCalendarAlarm, serverCalendarEmail, serverCalendarDepartment, serverCalendarRegistrant, serverCalendarRegistrationDate) 
	 	VALUES(#{serverCalendarStart}, #{serverCalendarEnd}, #{serverCalendarContents}, #{serverCalendarColor}, ${serverCalendarAllDay}, #{serverCalendarAlarm}, #{serverCalendarEmail}, #{serverCalendarDepartment}, #{serverCalendarRegistrant}, #{serverCalendarRegistrationDate});
	</insert>
	
	<select id="getServerCalendar" resultMap="serverCalendar">
		SELECT * FROM serverCalendar WHERE serverCalendarDepartment = #{serverCalendarDepartment};
	</select>
	
	<update id="updateServerCalendar">
		UPDATE serverCalendar SET serverCalendarStart = #{serverCalendarStart}, serverCalendarEnd = #{serverCalendarEnd}, serverCalendarAllDay = ${serverCalendarAllDay}, serverCalendarModifier = #{serverCalendarModifier}, serverCalendarModifiedDate = #{serverCalendarModifiedDate}
		WHERE serverCalendarKeyNum = #{serverCalendarKeyNum} AND serverCalendarDepartment = #{serverCalendarDepartment};
	</update>
	
	<delete id="deleteServerCalendar">
		DELETE FROM serverCalendar WHERE serverCalendarKeyNum = #{serverCalendarKeyNum} AND serverCalendarDepartment = #{serverCalendarDepartment};
	</delete>
	
	<select id="getServerCalendarOne" resultMap="serverCalendar">
		SELECT * FROM serverCalendar WHERE serverCalendarKeyNum = #{serverCalendarKeyNum} AND serverCalendarDepartment = #{serverCalendarDepartment};
	</select>
	
	<update id="saveServerCalendar">
		UPDATE serverCalendar SET serverCalendarStart = #{serverCalendarStart}, serverCalendarEnd = #{serverCalendarEnd}, serverCalendarContents = #{serverCalendarContents}, serverCalendarColor = #{serverCalendarColor}, serverCalendarAllDay = ${serverCalendarAllDay}, serverCalendarAlarm = #{serverCalendarAlarm}, serverCalendarAlarmYn = ${serverCalendarAlarmYn}, serverCalendarAddress = #{serverCalendarAddress}, serverCalendarModifier = #{serverCalendarModifier}, serverCalendarModifiedDate = #{serverCalendarModifiedDate}
		WHERE serverCalendarKeyNum = #{serverCalendarKeyNum} AND serverCalendarDepartment = #{serverCalendarDepartment};
	</update>
	
	<select id="alarmServerCalendar" resultMap="serverCalendar">
		SELECT * FROM serverCalendar
		WHERE serverCalendarEnd LIKE CONCAT(#{serverCalendarEnd},'%')
		AND serverCalendarAlarm = #{serverCalendarAlarm}
		AND serverCalendarAlarmYn = 1;
	</select>
	
	<insert id="insertServerListServerCalendar" parameterType="serverCalendar">
		<selectKey resultType="int" keyProperty="serverCalendarKeyNum" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO serverCalendar(serverCalendarStart, serverCalendarEnd, serverCalendarContents, serverCalendarColor, serverCalendarAllDay, serverCalendarAlarm, serverCalendarDepartment, serverCalendarRegistrant, serverCalendarRegistrationDate)
		VALUES(#{serverCalendarStart}, #{serverCalendarEnd}, #{serverCalendarContents}, '#001EFF', 1, '09:00', #{serverCalendarDepartment}, #{serverCalendarRegistrant}, #{serverCalendarRegistrationDate});
	</insert>
	
	<update id="updateServerListServerCalendar">
		UPDATE serverCalendar SET serverCalendarStart = #{serverCalendarStart}, serverCalendarEnd = #{serverCalendarEnd}, serverCalendarContents = #{serverCalendarContents}, serverCalendarDepartment = #{serverCalendarDepartment}, serverCalendarModifier = #{serverCalendarModifier}, serverCalendarModifiedDate = #{serverCalendarModifiedDate}
		WHERE serverCalendarKeyNum = #{serverCalendarKeyNum}; 
	</update>
	
</mapper>