<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="serverListUidLog">
	<resultMap type="com.secuve.agentInfo.vo.ServerListUidLog" id="serverListUidLog"></resultMap>
	
	<select id="getSelectInput" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM serverListUidLog WHERE serverListUidLogType = #{serverListUidLogType} AND ${selectInput} != '';
	</select>
	
	<select id="getServerListUidLog" resultMap="serverListUidLog" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM serverListUidLog
					<include refid="sqlServerListUidLog" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getServerListUidLogCount" resultType="_int">
		SELECT COUNT(*) FROM serverListUidLog
			<include refid="sqlServerListUidLog" />
	</select>
	
	<select id="getServerListUidLogKeyNum" resultType="_int">
		SELECT MAX(serverListUidLogKeyNum) FROM serverListUidLog;
	</select>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlServerListUidLog">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND serverListUidLogType = #{serverListUidLogType}
			<if test="serverListUidLogDivision != null and serverListUidLogDivision != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogDivisionArr" item="arr">
						OR serverListUidLogDivision LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogIp != null and serverListUidLogIp != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogIpArr" item="arr">
						OR serverListUidLogIp LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogState != null and serverListUidLogState != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogStateArr" item="arr">
						OR serverListUidLogState LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogMac != null and serverListUidLogMac != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogMacArr" item="arr">
						OR serverListUidLogMac LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogAssetNum != null and serverListUidLogAssetNum != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogAssetNumArr" item="arr">
						OR serverListUidLogAssetNum LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogHostName != null and serverListUidLogHostName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogHostNameArr" item="arr">
						OR serverListUidLogHostName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogPurpose != null and serverListUidLogPurpose != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogPurposeArr" item="arr">
						OR serverListUidLogPurpose LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogOs != null and serverListUidLogOs != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogOsArr" item="arr">
						OR serverListUidLogOs LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogServerClass != null and serverListUidLogServerClass != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogServerClassArr" item="arr">
						OR serverListUidLogServerClass LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogRackPosition != null and serverListUidLogRackPosition != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serverListUidLogRackPositionArr" item="arr">
						OR serverListUidLogRackPosition LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serverListUidLogPeriodUse != null and serverListUidLogPeriodUse != ''">
				AND serverListUidLogPeriodUse LIKE CONCAT('%',#{serverListUidLogPeriodUse},'%')
			</if>
			<if test="serverListUidLogUser != null and serverListUidLogUser != ''">
				AND serverListUidLogUser LIKE CONCAT('%',#{serverListUidLogUser},'%')
			</if>
			<if test="serverListUidLogManager != null and serverListUidLogManager != ''">
				AND serverListUidLogManager LIKE CONCAT('%',#{serverListUidLogManager},'%')
			</if>
			<if test="serverListUidLogLastModifiedDate != null and serverListUidLogLastModifiedDate != ''">
				AND serverListUidLogLastModifiedDate = #{serverListUidLogLastModifiedDate}
			</if>
			<if test="serverListUidLogNote != null and serverListUidLogNote != ''">
				AND serverListUidLogNote LIKE CONCAT('%',#{serverListUidLogNote},'%')
			</if>
		</trim>
	</sql>
</mapper>