<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="serviceControl">
	<resultMap type="com.secuve.agentInfo.vo.ServiceControl" id="serviceControl"></resultMap>
	
	<select id="getServiceControlList" resultMap="serviceControl" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM serviceControl
					<include refid="sqlServiceControl" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getServiceControlListCount" resultType="_int">
		SELECT COUNT(*) FROM serviceControl
			<include refid="sqlServiceControl" />
	</select>
	
	<delete id="delServiceControl" parameterType="_int">
		DELETE FROM serviceControl WHERE serviceControlKeyNum = #{serviceControlKeyNum};
	</delete>
	
	<select id="getServiceControlIpOne" resultMap="serviceControl" parameterType="string">
		SELECT * FROM serviceControl WHERE serviceControlIp = #{serviceControlIp};
	</select>
	
	<select id="serviceControlAll" resultMap="serviceControl">
		SELECT * FROM serviceControl;
	</select>
	
	<delete id="delServiceControlAll">
		DELETE FROM serviceControl;
	</delete>
	
	<select id="getServiceControlValue" parameterType="string" resultType="string">
		SELECT DISTINCT ${column} FROM serviceControl;
	</select>
	
	<insert id="insertServiceControl">
		INSERT INTO serviceControl(serviceControlServerType,serviceControlPurpose,serviceControlIp,serviceControlPcPower,serviceControlTomcat,serviceControlLogServer,serviceControlScvEA,serviceControlScvCA,serviceControlAgent,serviceControlDB,serviceControlDisk,serviceControlMemory,serviceControlFirewall,serviceControlJavaVersion,serviceControlTomcatVersion,serviceControlRelease,serviceControlKernel,serviceControlPort,serviceControlScvEAPath,serviceControlScvCAPath,serviceControlLogServerPath,serviceControlTomcatPath,serviceControlDbType,serviceControlDate,serviceControlJdbcPath,serviceControlJdbcInfo,serviceControlHostIp)
		VALUES(#{serviceControlServerType},#{serviceControlPurpose},#{serviceControlIp},#{serviceControlPcPower},#{serviceControlTomcat},#{serviceControlLogServer},#{serviceControlScvEA},#{serviceControlScvCA},#{serviceControlAgent},#{serviceControlDB},#{serviceControlDisk},#{serviceControlMemory},#{serviceControlFirewall},#{serviceControlJavaVersion},#{serviceControlTomcatVersion},#{serviceControlRelease},#{serviceControlKernel},#{serviceControlPort},#{serviceControlScvEAPath},#{serviceControlScvCAPath},#{serviceControlLogServerPath},#{serviceControlTomcatPath},#{serviceControlDbType},#{serviceControlDate},#{serviceControlJdbcPath},#{serviceControlJdbcInfo},#{serviceControlHostIp});
	</insert>
	
	<select id="getServiceControlOne" resultMap="serviceControl" parameterType="_int">
		SELECT * FROM serviceControl WHERE serviceControlKeyNum = #{serviceControlKeyNum};
	</select>
	
	<select id="getLastLogDate" parameterType="string" resultType="string">
		SELECT serviceControlLogDate 
		FROM servicecontrollog 
		WHERE serviceControlLogService = #{service} 
		ORDER BY serviceControlLogDate DESC
		LIMIT 1;
	</select>
	
	<update id="setServiceControlUpdate">
		UPDATE servicecontrol SET serviceControlServerType = #{serviceControlServerType}, serviceControlPurpose = #{serviceControlPurpose}, serviceControlIp = #{serviceControlIp}, serviceControlTomcatPath = #{serviceControlTomcatPath}, serviceControlDbType = #{serviceControlDbType}, serviceControlJdbcPath = #{serviceControlJdbcPath}, serviceControlHostIp = #{serviceControlHostIp}
		WHERE serviceControlKeyNum = #{serviceControlKeyNum};
	</update>
	
	<update id="setRouteSetting">
		UPDATE servicecontrol SET serviceControlScvEAPath = #{serviceControlScvEAPath}, serviceControlScvCAPath = #{serviceControlScvCAPath}, serviceControlLogServerPath = #{serviceControlLogServerPath}
		WHERE serviceControlIp = #{serviceControlIp}; 
	</update>
	
	<delete id="delServiceControlIp">
		DELETE FROM servicecontrol WHERE serviceControlIp = #{serviceControlIp};
	</delete>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlServiceControl">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="serviceControlPurpose != null and serviceControlPurpose != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlPurposeArr" item="arr">
						OR serviceControlPurpose LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serviceControlServerType != null and serviceControlServerType != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlServerTypeArr" item="arr">
						OR serviceControlServerType LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serviceControlIp != null and serviceControlIp != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlIpArr" item="arr">
						OR serviceControlIp LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serviceControlPcPower != null and serviceControlPcPower != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlPcPowerArr" item="arr">
						OR serviceControlPcPower LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serviceControlTomcat != null and serviceControlTomcat != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlTomcatArr" item="arr">
						OR serviceControlTomcat LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serviceControlLogServer != null and serviceControlLogServer != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlLogServerArr" item="arr">
						OR serviceControlLogServer LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serviceControlScvEA != null and serviceControlScvEA != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlScvEAArr" item="arr">
						OR serviceControlScvEA LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serviceControlScvCA != null and serviceControlScvCA != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlScvCAArr" item="arr">
						OR serviceControlScvCA LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="serviceControlDB != null and serviceControlDB != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="serviceControlDBArr" item="arr">
						OR serviceControlDB LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
		</trim>
	</sql>
	
</mapper>