<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="trash">
	<resultMap type="com.secuve.agentInfo.vo.Trash" id="trash"></resultMap>
	
	<select id="getTrashList" resultMap="trash" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM trash
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getTrashListCount" resultType="_int">
		SELECT COUNT(*) FROM trash;
	</select>
	
	<insert id="insertTrash">
		INSERT INTO trash(trashCustomerName, trashBusinessName, trashNetworkClassification, trashRequestDate, trashDeliveryData, trashExistingNew, trashManagementServer, trashAgentOS, trashOsDetailVersion, trashGeneralCustom, trashOsType, trashAgentVer, trashPackageName, trashManager, trashRequestProductCategory, trashDeliveryMethod, trashPurchaseCategory, trashNote, trashUser, trashTime)
		VALUES (#{trashCustomerName}, #{trashBusinessName}, #{trashNetworkClassification}, #{trashRequestDate}, #{trashDeliveryData}, #{trashExistingNew}, #{trashManagementServer}, #{trashAgentOS}, #{trashOsDetailVersion}, #{trashGeneralCustom}, #{trashOsType}, #{trashAgentVer}, #{trashPackageName}, #{trashManager}, #{trashRequestProductCategory}, #{trashDeliveryMethod}, #{trashPurchaseCategory}, #{trashNote}, #{trashUser}, #{trashTime});
	</insert>
</mapper>