<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="vmServer">
	<resultMap type="com.secuve.agentInfo.vo.VmServer" id="vmServer"></resultMap>
	
	<select id="getSelectInput" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM vmServer WHERE ${selectInput} != '';
	</select>
	
	<select id="getVmServer" resultMap="vmServer" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM vmServer
					<include refid="sqlVmServer" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlVmServer">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND vmServerType = #{vmServerType}
			<if test="vmServerDivision != null and vmServerDivision != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerDivisionArr" item="arr">
						OR vmServerDivision LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerIp != null and vmServerIp != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerIpArr" item="arr">
						OR vmServerIp LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerState != null and vmServerState != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerStateArr" item="arr">
						OR vmServerState LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerMac != null and vmServerMac != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerMacArr" item="arr">
						OR vmServerMac LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerAssetNum != null and vmServerAssetNum != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerAssetNumArr" item="arr">
						OR vmServerAssetNum LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerHostName != null and vmServerHostName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerHostNameArr" item="arr">
						OR vmServerHostName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerPurpose != null and vmServerPurpose != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerPurposeArr" item="arr">
						OR vmServerPurpose LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerOs != null and vmServerOs != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerOsArr" item="arr">
						OR vmServerOs LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerServerClass != null and vmServerServerClass != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerServerClassArr" item="arr">
						OR vmServerServerClass LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerRackPosition != null and vmServerRackPosition != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerRackPositionArr" item="arr">
						OR vmServerRackPosition LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerPeriodUseEnd != null and vmServerPeriodUseEnd != ''">
				AND vmServerPeriodUseEnd LIKE CONCAT('%',#{vmServerPeriodUseEnd},'%')
			</if>
			<if test="vmServerUser != null and vmServerUser != ''">
				AND vmServerUser LIKE CONCAT('%',#{vmServerUser},'%')
			</if>
			<if test="vmServerManager != null and vmServerManager != ''">
				AND vmServerManager LIKE CONCAT('%',#{vmServerManager},'%')
			</if>
			<if test="vmServerLastModifiedDate != null and vmServerLastModifiedDate != ''">
				AND vmServerLastModifiedDate = #{vmServerLastModifiedDate}
			</if>
			<if test="vmServerNote != null and vmServerNote != ''">
				AND vmServerNote LIKE CONCAT('%',#{vmServerNote},'%')
			</if>
		</trim>
	</sql>
</mapper>