<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="vmServer">
	<resultMap type="com.secuve.agentInfo.vo.VmServer" id="vmServer"></resultMap>
	<resultMap type="com.secuve.agentInfo.vo.VmServerHost" id="vmServerHost"></resultMap>
	
	<select id="getSelectInput" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM vmServer WHERE ${selectInput} != '';
	</select>
	
	<select id="getVmServer" resultMap="vmServer" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM vmServer
					<include refid="sqlVmServer" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getVmServerCount" resultType="_int">
		SELECT COUNT(*) FROM vmServer
			<include refid="sqlVmServer" />
	</select>
	
	<insert id="insertVmServerHost">
		INSERT INTO vmServerHost (vmServerHostName, vmServerHostIp, vmServerHostRegistrant, vmServerHostRegistrationDate)
		VALUES(#{vmServerHostNameView}, #{vmServerHostIpView}, #{vmServerHostRegistrant}, #{vmServerHostRegistrationDate});
	</insert>
	
	<insert id="insertVmServer">
		INSERT INTO vmServer (vmServerHostName, vmServerName, vmServerMemory, vmServerTime, vmServerStatus)
		VALUES(#{vmServerHostName}, #{vmServerName}, #{vmServerMemory}, #{vmServerTime}, #{vmServerStatus});
	</insert>
	
	<delete id="deleteVmServerHost" parameterType="string">
		DELETE FROM vmServerHost WHERE vmServerHostName = #{vmServerHostName};
	</delete>
	
	<delete id="deleteVmServer" parameterType="string">
		DELETE FROM vmServer WHERE vmServerHostName = #{vmServerHostName};
	</delete>
	
	<select id="getVmServerSearchAll" resultMap="vmServer" parameterType="string">
		SELECT *
		FROM vmServer
			<include refid="sqlVmServer" />
	</select>
	
	<select id="getVmServerHost" resultMap="vmServerHost">
		SELECT * FROM vmServerHost;
	</select>
	
	<delete id="deleteAllVmServer">
		DELETE FROM vmServer;
	</delete>
	
	<select id="getVmServerHostValidity" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM vmServerHost WHERE ${column} = #{values};
	</select>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlVmServer">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="vmServerHostName != null and vmServerHostName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerHostNameArr" item="arr">
						OR vmServerHostName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerName != null and vmServerName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerNameArr" item="arr">
						OR vmServerName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="vmServerStatus != null and vmServerStatus != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="vmServerStatusArr" item="arr">
						OR vmServerStatus LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>			
		</trim>
	</sql>
</mapper>