<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="workManage">
	<resultMap type="com.secuve.agentInfo.vo.WorkManage" id="workManage"></resultMap>
	
	<select id="getWorkManageList" resultMap="workManage" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT
				    w.*,
				    CASE
				        WHEN EXISTS (
				            SELECT 1
				            FROM mailSendList m
				            WHERE m.mailSendListPage = 'workmanage'
				              AND m.mailSendListPageNumber = w.workManageKeyNum
				        )
				        THEN 'Y'
				        ELSE 'N'
				    END AS mailSendYn
				FROM workmanage w
					<include refid="sqlWorkManage" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getWorkManageListCount" resultType="_int">
		SELECT COUNT(*) FROM workManage 
			<include refid="sqlWorkManage" />
	</select>
	
	<insert id="insertWorkManage" parameterType="workManage" useGeneratedKeys="true" keyProperty="workManageKeyNum">
		INSERT INTO workManage(
			workManageCustomer,
			workManageProductType,
			workManageProductTypeCount,
			workManagePackageName,
			workManagePackageFileName,
			workManagePackageSize,
			workManageEngineer,
			workManageDivision,
			workManageRequestDate,
			workManageCompleteDate,
			workManageAuthor,
			workManageTester,
			workManageProgressStatus,
			workManageProgress,
			workManageTestScheduleStart,
			workManageTestScheduleEnd,
			workManageOneLine,
			workManageDetailNote,
			workManageRegistrant,
			workManageRegistrationDate
		)
		VALUES(
			#{workManageCustomerView},
			#{workManageProductType},
			#{workManageProductTypeCount},
			#{workManagePackageName},
			#{workManagePackageFileName},
			#{workManagePackageSize},
			#{workManageEngineerView},
			#{workManageDivisionView},
			#{workManageRequestDateView},
			#{workManageCompleteDateView},
			#{workManageAuthorView},
			#{workManageTesterView},
			#{workManageProgressStatusView},
			#{workManageProgressView},
			#{workManageTestScheduleStart},
			#{workManageTestScheduleEnd},
			#{workManageOneLineView},
			#{workManageDetailNoteView},
			#{workManageRegistrant},
			#{workManageRegistrationDate}
		);
	</insert>
	
	<select id="getSelectInput" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM workManage WHERE ${selectInput} != '';
	</select>
	
	<select id="getWorkManageOne" parameterType="_int" resultMap="workManage">
		SELECT * FROM workManage WHERE workManageKeyNum = #{workManageKeyNum};
	</select>
	
	<delete id="delWorkManage" parameterType="_int">
		DELETE FROM workManage WHERE workManageKeyNum = #{workManageKeyNum};
	</delete>
	
	<update id="updateWorkManage">
		UPDATE workManage
		SET
			workManageCustomer = #{workManageCustomerView},
			workManageProductType = #{workManageProductType},
			workManageProductTypeCount = #{workManageProductTypeCount},
			workManagePackageName = #{workManagePackageName},
			<if test="workManagePackageFileName != null and workManagePackageFileName != ''">
				workManagePackageFileName = #{workManagePackageFileName},
				workManagePackageSize = #{workManagePackageSize},
			</if>
			workManageEngineer = #{workManageEngineerView},
			workManageDivision = #{workManageDivisionView},
			workManageRequestDate = #{workManageRequestDateView},
			workManageCompleteDate = #{workManageCompleteDateView},
			workManageTester = #{workManageTesterView},
			workManageProgressStatus = #{workManageProgressStatusView},
			workManageProgress = #{workManageProgressView},
			workManageTestScheduleStart = #{workManageTestScheduleStart},
			workManageTestScheduleEnd = #{workManageTestScheduleEnd},
			workManageOneLine = #{workManageOneLineView},
			workManageDetailNote = #{workManageDetailNoteView},
			workManageModifier = #{workManageModifier},
			workManageModifiedDate = #{workManageModifiedDate}
		WHERE
			workManageKeyNum = #{workManageKeyNum}
		;
	</update>
	
	<update id="progressChange">
		UPDATE workManage
		SET workManageProgress = #{workManageProgressView}, workManageComment = #{workManageCommentView}
		WHERE
			workManageKeyNum = #{workManageKeyNum}
		;
	</update>
	
	<select id="getCustomerList" resultType="string">
		SELECT DISTINCT workManageCustomer FROM workmanage;
	</select>
	
	<select id="getWorkManageCustomerAllProgressList" resultMap="workManage" parameterType="string">
		SELECT * FROM workmanage WHERE workManageCustomer = #{workManageCustomer}
		AND workManageProgressStatus IN ('진행중','보류','완료')
		ORDER BY workManageTestScheduleStart ASC;
	</select> 
	
	<select id="getWorkManageCustomerAllExpectedList" resultMap="workManage" parameterType="string">
		SELECT * FROM workmanage WHERE workManageCustomer = #{workManageCustomer}
		AND workManageProgressStatus IN ('진행중')
		ORDER BY workManageTestScheduleStart ASC;
	</select>
	
	<select id="getWorkManageCustomerWeeklyProgressList" resultMap="workManage" parameterType="string">
		SELECT * FROM workmanage WHERE workManageCustomer = #{workManageCustomer} AND workManageTester LIKE '%${employeeName}%'
		AND workManageTestScheduleStart &lt;= DATE_ADD(CURDATE(), INTERVAL (6 - WEEKDAY(CURDATE())) DAY)
		AND workManageTestScheduleEnd &gt;= DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)
		ORDER BY workManageTestScheduleStart ASC;
	</select> 
	
	<select id="getWorkManageCustomerWeeklyExpectedList" resultMap="workManage" parameterType="string">
		SELECT * FROM workmanage WHERE workManageCustomer = #{workManageCustomer} AND workManageTester LIKE '%${employeeName}%'
		AND workManageProgress != 100
		AND workManageTestScheduleEnd &gt;= DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)
		ORDER BY workManageTestScheduleStart ASC;
	</select>
	
	<update id="delWorkManageFlag">
		UPDATE workmanage SET workManageDelReaon = #{workManageDelReaon}, workManageDelFlag = 'Y' WHERE workManageKeyNum = #{workManageKeyNum};
	</update>
	
	<select id="getDailyWorkList" resultMap="workManage" parameterType="string">
		<![CDATA[
        SELECT *
        FROM workmanage
        WHERE workManageTester LIKE CONCAT('%', #{employeeName}, '%')
          AND workManageTestScheduleStart <= CURDATE()
          AND workManageTestScheduleEnd >= CURDATE()
    	]]>
	</select>
	
	<select id="getTomorrowWorkList" resultMap="workManage" parameterType="string">
	    <![CDATA[
	        SELECT *
	        FROM workmanage
	        WHERE workManageTester LIKE CONCAT('%', #{employeeName}, '%')
	          AND workManageTestScheduleStart <= DATE_ADD(CURDATE(), INTERVAL 1 DAY)
	          AND workManageTestScheduleEnd >= DATE_ADD(CURDATE(), INTERVAL 1 DAY)
	    ]]>
	</select>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlWorkManage">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="workManageKeyNum != 0">
				AND workManageKeyNum = ${workManageKeyNum}
			</if>
			<choose>
			    <when test="workManageDelFlag != null and workManageDelFlag != ''">
			        AND workManageDelFlag = #{workManageDelFlag}
			    </when>
			    <otherwise>
			        AND (workManageDelFlag IS NULL OR workManageDelFlag != 'Y')
			    </otherwise>
			</choose>
			<if test="workManageCustomer != null and workManageCustomer != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="workManageCustomerArr" item="arr">
						OR workManageCustomer LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="workManagePackageName != null and workManagePackageName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="workManagePackageNameArr" item="arr">
						OR workManagePackageName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="workManageDivision != null and workManageDivision != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="workManageDivisionArr" item="arr">
						OR workManageDivision LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="workManageProgressStatus != null and workManageProgressStatus != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="workManageProgressStatusArr" item="arr">
						OR workManageProgressStatus LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="workManageRequestDateStart != null and workManageRequestDateStart != ''">
				AND workManageRequestDate BETWEEN #{workManageRequestDateStart} AND #{workManageRequestDateEnd}
			</if>
			<if test="workManageEngineer != null and workManageEngineer != ''">
				AND workManageEngineer LIKE '%#{workManageEngineer}%'
			</if>
			<if test="workManageAuthor != null and workManageAuthor != ''">
				AND workManageAuthor LIKE '%#{workManageAuthor}%'
			</if>
			<if test="workManageTester != null and workManageTester != ''">
				AND workManageTester LIKE '%#{workManageTester}%'
			</if>
		</trim>
	</sql>
	
</mapper>