<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="workManage">
	<resultMap type="com.secuve.agentInfo.vo.WorkManage" id="workManage"></resultMap>
	
	<select id="getWorkManageList" resultMap="workManage" parameterType="string">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT *
				FROM workManage
					<include refid="sqlWorkManage" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
	</select>
	
	<select id="getWorkManageListCount" resultType="_int">
		SELECT COUNT(*) FROM workManage 
			<include refid="sqlWorkManage" />
	</select>
	
	<insert id="insertWorkManage">
		INSERT INTO workManage(
			workManageCustomer,
			workManageProductTypeOne,
			workManageProductTypeTwo,
			workManageProductTypeThree,
			workManageProductTypeFour,
			workManagePackageNameOne,
			workManagePackageNameTwo,
			workManagePackageNameThree,
			workManagePackageNameFour,
			workManagePackageFileOne,
			workManagePackageFileTwo,
			workManagePackageFileThree,
			workManagePackageFileFour,
			workManageEngineer,
			workManageDivision,
			workManageRequestDate,
			workManageCompleteDate,
			workManageAuthor,
			workManageTester,
			workManageProgressStatus,
			workManageProgress,
			workManageTestScheduleStart,
			workManageTestScheduleEnd,
			workManageOneLine,
			workManageDetailNote,
			workManageRegistrant,
			workManageRegistrationDate
		)
		VALUES(
			#{workManageCustomerView},
			#{workManageProductTypeOneView},
			#{workManageProductTypeTwoView},
			#{workManageProductTypeThreeView},
			#{workManageProductTypeFourView},
			#{workManagePackageNameOneView},
			#{workManagePackageNameTwoView},
			#{workManagePackageNameThreeView},
			#{workManagePackageNameFourView},
			#{workManagePackageFileOne},
			#{workManagePackageFileTwo},
			#{workManagePackageFileThree},
			#{workManagePackageFileFour},
			#{workManageEngineerView},
			#{workManageDivisionView},
			#{workManageRequestDateView},
			#{workManageCompleteDateView},
			#{workManageAuthorView},
			#{workManageTesterView},
			#{workManageProgressStatusView},
			#{workManageProgressView},
			#{workManageTestScheduleStart},
			#{workManageTestScheduleEnd},
			#{workManageOneLineView},
			#{workManageDetailNoteView},
			#{workManageRegistrant},
			#{workManageRegistrationDate}
		);
	</insert>
	
	<select id="getSelectInput" resultType="string" parameterType="string">
		SELECT DISTINCT ${selectInput} FROM workManage WHERE ${selectInput} != '';
	</select>
	
	<select id="getWorkManageOne" parameterType="_int" resultMap="workManage">
		SELECT * FROM workManage WHERE workManageKeyNum = #{workManageKeyNum};
	</select>
	
	<delete id="delWorkManage" parameterType="_int">
		DELETE FROM workManage WHERE workManageKeyNum = #{workManageKeyNum};
	</delete>
	
	<update id="updateWorkManage">
		UPDATE workManage
		SET
			workManageCustomer = #{workManageCustomerView},
			workManageProductTypeOne = #{workManageProductTypeOneView},
			workManageProductTypeTwo = #{workManageProductTypeTwoView},
			workManageProductTypeThree = #{workManageProductTypeThreeView},
			workManageProductTypeFour = #{workManageProductTypeFourView},
			workManagePackageNameOne = #{workManagePackageNameOneView},
			workManagePackageNameTwo = #{workManagePackageNameTwoView},
			workManagePackageNameThree = #{workManagePackageNameThreeView},
			workManagePackageNameFour = #{workManagePackageNameFourView},
			<if test="workManagePackageFileOne != null and workManagePackageFileOne != '' or workManageProductTypeOneView == null or workManageProductTypeOneView == ''">
				workManagePackageFileOne = #{workManagePackageFileOne},
			</if>
			<if test="workManagePackageFileTwo != null and workManagePackageFileTwo != '' or workManageProductTypeTwoView == null or workManageProductTypeTwoView == ''">
				workManagePackageFileTwo = #{workManagePackageFileTwo},
			</if>
			<if test="workManagePackageFileThree != null and workManagePackageFileThree != '' or workManageProductTypeThreeView == null or workManageProductTypeThreeView == ''">
				workManagePackageFileThree = #{workManagePackageFileThree},
			</if>
			<if test="workManagePackageFileFour != null and workManagePackageFileFour != '' or workManageProductTypeFourView == null or workManageProductTypeFourView == ''">
				workManagePackageFileFour = #{workManagePackageFileFour},
			</if>
			workManageEngineer = #{workManageEngineerView},
			workManageDivision = #{workManageDivisionView},
			workManageRequestDate = #{workManageRequestDateView},
			workManageCompleteDate = #{workManageCompleteDateView},
			workManageAuthor = #{workManageAuthorView},
			workManageTester = #{workManageTesterView},
			workManageProgressStatus = #{workManageProgressStatusView},
			workManageProgress = #{workManageProgressView},
			workManageTestScheduleStart = #{workManageTestScheduleStart},
			workManageTestScheduleEnd = #{workManageTestScheduleEnd},
			workManageOneLine = #{workManageOneLineView},
			workManageDetailNote = #{workManageDetailNoteView},
			workManageModifier = #{workManageModifier},
			workManageModifiedDate = #{workManageModifiedDate}
		WHERE
			workManageKeyNum = #{workManageKeyNum}
		;
	</update>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlWorkManage">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="workManageCustomer != null and workManageCustomer != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="workManageCustomerArr" item="arr">
						OR workManageCustomer LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="workManagePackageName != null and workManagePackageName != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="workManagePackageNameArr" item="arr">
						OR workManagePackageName LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="workManageDivision != null and workManageDivision != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="workManageDivisionArr" item="arr">
						OR workManageDivision LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="workManageProgressStatus != null and workManageProgressStatus != ''">
				AND (
				<trim prefix="" prefixOverrides="OR">
					<foreach collection="workManageProgressStatusArr" item="arr">
						OR workManageProgressStatus LIKE CONCAT('%',#{arr},'%')
					</foreach>
				</trim>
				)
			</if>
			<if test="workManageRequestDateStart != null and workManageRequestDateStart != ''">
				AND workManageRequestDate BETWEEN #{workManageRequestDateStart} AND #{workManageRequestDateEnd}
			</if>
			<if test="workManageEngineer != null and workManageEngineer != ''">
				AND workManageEngineer LIKE '%${workManageEngineer}%'
			</if>
			<if test="workManageAuthor != null and workManageAuthor != ''">
				AND workManageAuthor = #{workManageAuthor}
			</if>
			<if test="workManageTester != null and workManageTester != ''">
				AND workManageTester = #{workManageTester}
			</if>
		</trim>
	</sql>
	
</mapper>